openapi: 3.2.0
info:
  title: RDM Region API
  description: Reference Data Manager API
  termsOfService: None
  contact:
    name: UNICEF
    url: https://data.unicef.org/
    email: data@unicef.org
  version: v2.0
servers:
- url: https://rdmapi.unicef.org
tags:
- name: Region
paths:
  /api/regions:
    get:
      tags:
      - Region
      summary: Get the list of all Regions
      operationId: Region_GetRegions
      responses:
        '200':
          description: The list of all Regions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RegionItem'
  /api/regions/byseries/{RegionSeriesId}:
    get:
      tags:
      - Region
      summary: Get the list of all Regions by Series ID
      operationId: Region_GetRegionsBySeries
      parameters:
      - name: RegionSeriesId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: The list of all Regions by Series ID
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RegionItem'
  /api/regions/series:
    get:
      tags:
      - Region
      summary: Get the list of all region series
      operationId: Region_GetSeries
      responses:
        '200':
          description: The list of all region series, like "UNICEF Reporting Regions" or "World Bank Regional Classifications"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RegionSeriesItem'
  /api/regions/collections:
    get:
      tags:
      - Region
      summary: Get the list of all region collections
      operationId: Region_GetCollections
      responses:
        '200':
          description: The list of all region collections, like "UNICEF Regions" or "World Bank Regions"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RegionCollectionItem'
components:
  schemas:
    RegionCollectionItem:
      type: object
      required:
      - regionCollectionId
      properties:
        regionCollectionId:
          type: integer
          format: int32
        code:
          type: string
        name:
          type: string
        createdBy:
          type: string
        createdDate:
          type: string
        regions:
          type: array
          items:
            $ref: '#/components/schemas/RegionItem'
    CountryRegionsItem:
      type: object
      properties:
        countryId:
          type: integer
          format: int32
        countryCndCode:
          type: string
        countryISO:
          type: string
        regionId:
          type: integer
          format: int32
        regionCndCode:
          type: string
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
    RegionNameItem:
      type: object
      required:
      - regionId
      - languageId
      properties:
        regionId:
          type: integer
          format: int32
        languageId:
          type: integer
          format: int32
        languageName:
          type: string
        createdBy:
          type: string
        createdDate:
          type: string
        value:
          type: string
    CustodianItem:
      type: object
      required:
      - id
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
        editedBy:
          type: string
        editedDate:
          type: string
        code:
          type: string
    RegionItem:
      type: object
      required:
      - regionId
      - level
      properties:
        regionId:
          type: integer
          format: int32
        m49:
          type: string
        altName:
          type: string
        status:
          type: string
        level:
          type: integer
          format: int32
        description:
          type: string
        createdBy:
          type: string
        createdDate:
          type: string
        cndregionalCode:
          type: string
        organization:
          type: string
        language2Name:
          type: array
          items:
            $ref: '#/components/schemas/RegionNameItem'
        countries:
          type: array
          items:
            $ref: '#/components/schemas/CountryRegionsItem'
        parentRegionID:
          type: integer
          format: int32
        parentCndregionalCode:
          type: string
        collection:
          $ref: '#/components/schemas/RegionCollectionItem'
        series:
          $ref: '#/components/schemas/RegionSeriesItem'
    RegionSeriesItem:
      type: object
      required:
      - regionSeriesId
      properties:
        regionSeriesId:
          type: integer
          format: int32
        code:
          type: string
        name:
          type: string
        description:
          type: string
        createdBy:
          type: string
        createdDate:
          type: string
        custodians:
          type: array
          items:
            $ref: '#/components/schemas/CustodianItem'
        regions:
          type: array
          items:
            $ref: '#/components/schemas/RegionItem'
x-generator: NSwag v14.0.2.0 (NJsonSchema v11.0.0.0 (Newtonsoft.Json v13.0.0.0))
