openapi: 3.2.0
info:
  title: Unicef Data Indicator API
  version: '1.0'
  description: 'Operations tagged Indicator across 2 of this provider''s published API definitions: unicef-geosight-openapi.json, unicef-reference-data-manager-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://geosight.unicef.org/api/v1
- url: https://rdmapi.unicef.org
tags:
- name: Indicator
paths:
  /indicators/:
    parameters: []
    get:
      operationId: indicator-list
      description: Return list of accessed indicator for the user.
      parameters:
      - name: page
        in: query
        description: Page number in pagination
        schema:
          type: integer
          default: 1
      - name: page_size
        in: query
        description: Total records in a page
        schema:
          type: integer
          default: 25
      - name: sort
        in: query
        description: 'Fields to be sorted should be specified as a comma-separated list.e.g: sort=name for asc, -sort=name for desc'
        required: false
        schema:
          type: string
      - name: fields
        in: query
        description: 'Fields to be returned should be specified as a comma-separated list.e.g: fields=__all__ for returning all fields, fields=name,category to return just name and category'
        required: false
        schema:
          type: string
      - name: name__contains
        in: query
        description: Filter data by partial name.
        schema:
          type: string
      - name: description__contains
        in: query
        description: Filter data by partial description.
        schema:
          type: string
      - name: category__name__in
        in: query
        description: Filter data by multiple category. Put multiple filter using comma separator.
        schema:
          type: string
      - name: type__in
        in: query
        description: Filter data by multiple type. Put multiple filter using comma separator.
        schema:
          type: string
      - name: project_slug__in
        in: query
        description: Filter data by multiple project slug. Put multiple filter using comma separator.
        schema:
          type: string
      - name: project_id__in
        in: query
        description: Filter data by multiple project id. Put multiple filter using comma separator.
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                required:
                - count
                - results
                type: object
                properties:
                  count:
                    type: integer
                  next:
                    type:
                    - string
                    - 'null'
                    format: uri
                  previous:
                    type:
                    - string
                    - 'null'
                    format: uri
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/IndicatorAdminList'
      tags:
      - Indicator
      security:
      - ApiKey Auth: []
      summary: Indicator list
      x-summary-source: derived
    post:
      operationId: indicator-create
      description: Create a indicator.
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                description: Data that is needed to create/edit context layer.
                type: object
                properties:
                  name:
                    title: Name
                    type: string
                  description:
                    title: Description
                    type: string
                  source:
                    title: Source
                    type: string
                  shortcode:
                    title: Shortcode
                    type: string
                  category:
                    title: Category
                    type: string
                  unit:
                    title: Unit
                    type: string
                  type:
                    title: Type
                    description: The choices are ['Float', 'Integer', 'String']
                    type: string
                  min_value:
                    title: Min value
                    type: integer
                  max_value:
                    title: Max value
                    type: integer
                  aggregation_upper_level_allowed:
                    title: Allow aggregation upper level
                    type: boolean
                  aggregation_upper_level:
                    title: Aggregation upper level
                    description: The choices are ['COUNT', 'SUM(value)', 'MIN(value)', 'MAX(value)', 'AVG(value)', 'MAJORITY(value)', 'MINORITY(value)']
                    type: string
                  aggregation_multiple_values:
                    title: Aggregation multiple values
                    description: The choices are ['COUNT', 'SUM(value)', 'MIN(value)', 'MAX(value)', 'AVG(value)', 'MAJORITY(value)', 'MINORITY(value)']
                    type: string
                  style_type:
                    title: Aggregation multiple values
                    description: The choices are ['Dynamic qualitative style.', 'Dynamic quantitative style.', 'Predefined style/color rules.', 'Style from library.']
                    type: string
                  style_config:
                    title: Styles
                    description: 'JSON object containing style configuration for dynamic style types. When style_type is DYNAMIC_QUALITATIVE or DYNAMIC_QUANTITATIVE, the following keys are expected: color_palette (int), color_palette_reverse (bool), dynamic_class_num (int), sync_outline (bool), sync_filter (bool), outline_color (str), outline_size (float), dynamic_classification — one of [''Equidistant.'', ''Natural breaks.'', ''Quantile.'', ''Std deviation.'', ''Arithmetic progression.'', ''Geometric progression.''], and no_data_rule (object with name, rule, color, outline_color, outline_size, active).'
                    type: object
                example:
                  name: Indicator
                  description: ''
                  source: ''
                  shortcode: INDICATOR
                  category: Test
                  unit: Unit
                  type: Integer
                  min_value: 0
                  max_value: 100
                  aggregation_upper_level_allowed: true
                  aggregation_upper_level: SUM(value)
                  aggregation_multiple_values: SUM(value)
                  style_type: Dynamic quantitative style.
                  style_config:
                    no_data_rule:
                      name: No data
                      rule: No data
                      color: '#D8D8D8'
                      active: 'true'
                      outline_size: '0.5'
                      outline_color: '#ffffff'
                    outline_size: 0.5
                    sync_outline: false
                    color_palette: 3
                    outline_color: '#FFFFFF'
                    dynamic_class_num: '7'
                    color_palette_reverse: false
                    dynamic_classification: Equidistant.
      tags:
      - Indicator
      requestBody:
        content:
          application/json:
            schema:
              description: Data that is needed to create/edit context layer.
              type: object
              properties:
                name:
                  title: Name
                  type: string
                description:
                  title: Description
                  type: string
                source:
                  title: Source
                  type: string
                shortcode:
                  title: Shortcode
                  type: string
                category:
                  title: Category
                  type: string
                unit:
                  title: Unit
                  type: string
                type:
                  title: Type
                  description: The choices are ['Float', 'Integer', 'String']
                  type: string
                min_value:
                  title: Min value
                  type: integer
                max_value:
                  title: Max value
                  type: integer
                aggregation_upper_level_allowed:
                  title: Allow aggregation upper level
                  type: boolean
                aggregation_upper_level:
                  title: Aggregation upper level
                  description: The choices are ['COUNT', 'SUM(value)', 'MIN(value)', 'MAX(value)', 'AVG(value)', 'MAJORITY(value)', 'MINORITY(value)']
                  type: string
                aggregation_multiple_values:
                  title: Aggregation multiple values
                  description: The choices are ['COUNT', 'SUM(value)', 'MIN(value)', 'MAX(value)', 'AVG(value)', 'MAJORITY(value)', 'MINORITY(value)']
                  type: string
                style_type:
                  title: Aggregation multiple values
                  description: The choices are ['Dynamic qualitative style.', 'Dynamic quantitative style.', 'Predefined style/color rules.', 'Style from library.']
                  type: string
                style_config:
                  title: Styles
                  description: 'JSON object containing style configuration for dynamic style types. When style_type is DYNAMIC_QUALITATIVE or DYNAMIC_QUANTITATIVE, the following keys are expected: color_palette (int), color_palette_reverse (bool), dynamic_class_num (int), sync_outline (bool), sync_filter (bool), outline_color (str), outline_size (float), dynamic_classification — one of [''Equidistant.'', ''Natural breaks.'', ''Quantile.'', ''Std deviation.'', ''Arithmetic progression.'', ''Geometric progression.''], and no_data_rule (object with name, rule, color, outline_color, outline_size, active).'
                  type: object
              example:
                name: Indicator
                description: ''
                source: ''
                shortcode: INDICATOR
                category: Test
                unit: Unit
                type: Integer
                min_value: 0
                max_value: 100
                aggregation_upper_level_allowed: true
                aggregation_upper_level: SUM(value)
                aggregation_multiple_values: SUM(value)
                style_type: Dynamic quantitative style.
                style_config:
                  no_data_rule:
                    name: No data
                    rule: No data
                    color: '#D8D8D8'
                    active: 'true'
                    outline_size: '0.5'
                    outline_color: '#ffffff'
                  outline_size: 0.5
                  sync_outline: false
                  color_palette: 3
                  outline_color: '#FFFFFF'
                  dynamic_class_num: '7'
                  color_palette_reverse: false
                  dynamic_classification: Equidistant.
        required: true
      security:
      - ApiKey Auth: []
      summary: Indicator create
      x-summary-source: derived
    servers:
    - url: https://geosight.unicef.org/api/v1
  /indicators/data/:
    parameters: []
    get:
      operationId: indicators-data-list
      description: Return list of indicators data for the user.
      parameters:
      - name: page
        in: query
        description: A page number within the paginated result set.
        required: false
        schema:
          type: integer
      - name: page_size
        in: query
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: Resource fetching successful.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/IndicatorValue'
      tags:
      - Indicator
      security:
      - ApiKey Auth: []
      summary: Indicators data list
      x-summary-source: derived
    servers:
    - url: https://geosight.unicef.org/api/v1
  /indicators/{id}/:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: indicator-detail
      description: Return detailed of indicator.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndicatorAdminList'
      tags:
      - Indicator
      security:
      - ApiKey Auth: []
      summary: Indicator detail
      x-summary-source: derived
    put:
      operationId: indicator-detail-update
      description: Replace a detailed of indicator.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                description: Data that is needed to create/edit context layer.
                type: object
                properties:
                  name:
                    title: Name
                    type: string
                  description:
                    title: Description
                    type: string
                  source:
                    title: Source
                    type: string
                  shortcode:
                    title: Shortcode
                    type: string
                  category:
                    title: Category
                    type: string
                  unit:
                    title: Unit
                    type: string
                  type:
                    title: Type
                    description: The choices are ['Float', 'Integer', 'String']
                    type: string
                  min_value:
                    title: Min value
                    type: integer
                  max_value:
                    title: Max value
                    type: integer
                  aggregation_upper_level_allowed:
                    title: Allow aggregation upper level
                    type: boolean
                  aggregation_upper_level:
                    title: Aggregation upper level
                    description: The choices are ['COUNT', 'SUM(value)', 'MIN(value)', 'MAX(value)', 'AVG(value)', 'MAJORITY(value)', 'MINORITY(value)']
                    type: string
                  aggregation_multiple_values:
                    title: Aggregation multiple values
                    description: The choices are ['COUNT', 'SUM(value)', 'MIN(value)', 'MAX(value)', 'AVG(value)', 'MAJORITY(value)', 'MINORITY(value)']
                    type: string
                  style_type:
                    title: Aggregation multiple values
                    description: The choices are ['Dynamic qualitative style.', 'Dynamic quantitative style.', 'Predefined style/color rules.', 'Style from library.']
                    type: string
                  style_config:
                    title: Styles
                    description: 'JSON object containing style configuration for dynamic style types. When style_type is DYNAMIC_QUALITATIVE or DYNAMIC_QUANTITATIVE, the following keys are expected: color_palette (int), color_palette_reverse (bool), dynamic_class_num (int), sync_outline (bool), sync_filter (bool), outline_color (str), outline_size (float), dynamic_classification — one of [''Equidistant.'', ''Natural breaks.'', ''Quantile.'', ''Std deviation.'', ''Arithmetic progression.'', ''Geometric progression.''], and no_data_rule (object with name, rule, color, outline_color, outline_size, active).'
                    type: object
                example:
                  name: Indicator
                  description: ''
                  source: ''
                  shortcode: INDICATOR
                  category: Test
                  unit: Unit
                  type: Integer
                  min_value: 0
                  max_value: 100
                  aggregation_upper_level_allowed: true
                  aggregation_upper_level: SUM(value)
                  aggregation_multiple_values: SUM(value)
                  style_type: Dynamic quantitative style.
                  style_config:
                    no_data_rule:
                      name: No data
                      rule: No data
                      color: '#D8D8D8'
                      active: 'true'
                      outline_size: '0.5'
                      outline_color: '#ffffff'
                    outline_size: 0.5
                    sync_outline: false
                    color_palette: 3
                    outline_color: '#FFFFFF'
                    dynamic_class_num: '7'
                    color_palette_reverse: false
                    dynamic_classification: Equidistant.
      tags:
      - Indicator
      requestBody:
        content:
          application/json:
            schema:
              description: Data that is needed to create/edit context layer.
              type: object
              properties:
                name:
                  title: Name
                  type: string
                description:
                  title: Description
                  type: string
                source:
                  title: Source
                  type: string
                shortcode:
                  title: Shortcode
                  type: string
                category:
                  title: Category
                  type: string
                unit:
                  title: Unit
                  type: string
                type:
                  title: Type
                  description: The choices are ['Float', 'Integer', 'String']
                  type: string
                min_value:
                  title: Min value
                  type: integer
                max_value:
                  title: Max value
                  type: integer
                aggregation_upper_level_allowed:
                  title: Allow aggregation upper level
                  type: boolean
                aggregation_upper_level:
                  title: Aggregation upper level
                  description: The choices are ['COUNT', 'SUM(value)', 'MIN(value)', 'MAX(value)', 'AVG(value)', 'MAJORITY(value)', 'MINORITY(value)']
                  type: string
                aggregation_multiple_values:
                  title: Aggregation multiple values
                  description: The choices are ['COUNT', 'SUM(value)', 'MIN(value)', 'MAX(value)', 'AVG(value)', 'MAJORITY(value)', 'MINORITY(value)']
                  type: string
                style_type:
                  title: Aggregation multiple values
                  description: The choices are ['Dynamic qualitative style.', 'Dynamic quantitative style.', 'Predefined style/color rules.', 'Style from library.']
                  type: string
                style_config:
                  title: Styles
                  description: 'JSON object containing style configuration for dynamic style types. When style_type is DYNAMIC_QUALITATIVE or DYNAMIC_QUANTITATIVE, the following keys are expected: color_palette (int), color_palette_reverse (bool), dynamic_class_num (int), sync_outline (bool), sync_filter (bool), outline_color (str), outline_size (float), dynamic_classification — one of [''Equidistant.'', ''Natural breaks.'', ''Quantile.'', ''Std deviation.'', ''Arithmetic progression.'', ''Geometric progression.''], and no_data_rule (object with name, rule, color, outline_color, outline_size, active).'
                  type: object
              example:
                name: Indicator
                description: ''
                source: ''
                shortcode: INDICATOR
                category: Test
                unit: Unit
                type: Integer
                min_value: 0
                max_value: 100
                aggregation_upper_level_allowed: true
                aggregation_upper_level: SUM(value)
                aggregation_multiple_values: SUM(value)
                style_type: Dynamic quantitative style.
                style_config:
                  no_data_rule:
                    name: No data
                    rule: No data
                    color: '#D8D8D8'
                    active: 'true'
                    outline_size: '0.5'
                    outline_color: '#ffffff'
                  outline_size: 0.5
                  sync_outline: false
                  color_palette: 3
                  outline_color: '#FFFFFF'
                  dynamic_class_num: '7'
                  color_palette_reverse: false
                  dynamic_classification: Equidistant.
        required: true
      security:
      - ApiKey Auth: []
      summary: Indicator detail update
      x-summary-source: derived
    patch:
      operationId: indicator-detail-partial-update
      description: Update just partial data based on payload a detailed of indicator.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                description: Data that is needed to create/edit context layer.
                type: object
                properties:
                  name:
                    title: Name
                    type: string
                  description:
                    title: Description
                    type: string
                  source:
                    title: Source
                    type: string
                  shortcode:
                    title: Shortcode
                    type: string
                  category:
                    title: Category
                    type: string
                  unit:
                    title: Unit
                    type: string
                  type:
                    title: Type
                    description: The choices are ['Float', 'Integer', 'String']
                    type: string
                  min_value:
                    title: Min value
                    type: integer
                  max_value:
                    title: Max value
                    type: integer
                  aggregation_upper_level_allowed:
                    title: Allow aggregation upper level
                    type: boolean
                  aggregation_upper_level:
                    title: Aggregation upper level
                    description: The choices are ['COUNT', 'SUM(value)', 'MIN(value)', 'MAX(value)', 'AVG(value)', 'MAJORITY(value)', 'MINORITY(value)']
                    type: string
                  aggregation_multiple_values:
                    title: Aggregation multiple values
                    description: The choices are ['COUNT', 'SUM(value)', 'MIN(value)', 'MAX(value)', 'AVG(value)', 'MAJORITY(value)', 'MINORITY(value)']
                    type: string
                  style_type:
                    title: Aggregation multiple values
                    description: The choices are ['Dynamic qualitative style.', 'Dynamic quantitative style.', 'Predefined style/color rules.', 'Style from library.']
                    type: string
                  style_config:
                    title: Styles
                    description: 'JSON object containing style configuration for dynamic style types. When style_type is DYNAMIC_QUALITATIVE or DYNAMIC_QUANTITATIVE, the following keys are expected: color_palette (int), color_palette_reverse (bool), dynamic_class_num (int), sync_outline (bool), sync_filter (bool), outline_color (str), outline_size (float), dynamic_classification — one of [''Equidistant.'', ''Natural breaks.'', ''Quantile.'', ''Std deviation.'', ''Arithmetic progression.'', ''Geometric progression.''], and no_data_rule (object with name, rule, color, outline_color, outline_size, active).'
                    type: object
                example:
                  name: Indicator
                  description: ''
                  source: ''
                  shortcode: INDICATOR
                  category: Test
                  unit: Unit
                  type: Integer
                  min_value: 0
                  max_value: 100
                  aggregation_upper_level_allowed: true
                  aggregation_upper_level: SUM(value)
                  aggregation_multiple_values: SUM(value)
                  style_type: Dynamic quantitative style.
                  style_config:
                    no_data_rule:
                      name: No data
                      rule: No data
                      color: '#D8D8D8'
                      active: 'true'
                      outline_size: '0.5'
                      outline_color: '#ffffff'
                    outline_size: 0.5
                    sync_outline: false
                    color_palette: 3
                    outline_color: '#FFFFFF'
                    dynamic_class_num: '7'
                    color_palette_reverse: false
                    dynamic_classification: Equidistant.
      tags:
      - Indicator
      requestBody:
        content:
          application/json:
            schema:
              description: Data that is needed to create/edit context layer.
              type: object
              properties:
                name:
                  title: Name
                  type: string
                description:
                  title: Description
                  type: string
                source:
                  title: Source
                  type: string
                shortcode:
                  title: Shortcode
                  type: string
                category:
                  title: Category
                  type: string
                unit:
                  title: Unit
                  type: string
                type:
                  title: Type
                  description: The choices are ['Float', 'Integer', 'String']
                  type: string
                min_value:
                  title: Min value
                  type: integer
                max_value:
                  title: Max value
                  type: integer
                aggregation_upper_level_allowed:
                  title: Allow aggregation upper level
                  type: boolean
                aggregation_upper_level:
                  title: Aggregation upper level
                  description: The choices are ['COUNT', 'SUM(value)', 'MIN(value)', 'MAX(value)', 'AVG(value)', 'MAJORITY(value)', 'MINORITY(value)']
                  type: string
                aggregation_multiple_values:
                  title: Aggregation multiple values
                  description: The choices are ['COUNT', 'SUM(value)', 'MIN(value)', 'MAX(value)', 'AVG(value)', 'MAJORITY(value)', 'MINORITY(value)']
                  type: string
                style_type:
                  title: Aggregation multiple values
                  description: The choices are ['Dynamic qualitative style.', 'Dynamic quantitative style.', 'Predefined style/color rules.', 'Style from library.']
                  type: string
                style_config:
                  title: Styles
                  description: 'JSON object containing style configuration for dynamic style types. When style_type is DYNAMIC_QUALITATIVE or DYNAMIC_QUANTITATIVE, the following keys are expected: color_palette (int), color_palette_reverse (bool), dynamic_class_num (int), sync_outline (bool), sync_filter (bool), outline_color (str), outline_size (float), dynamic_classification — one of [''Equidistant.'', ''Natural breaks.'', ''Quantile.'', ''Std deviation.'', ''Arithmetic progression.'', ''Geometric progression.''], and no_data_rule (object with name, rule, color, outline_color, outline_size, active).'
                  type: object
              example:
                name: Indicator
                description: ''
                source: ''
                shortcode: INDICATOR
                category: Test
                unit: Unit
                type: Integer
                min_value: 0
                max_value: 100
                aggregation_upper_level_allowed: true
                aggregation_upper_level: SUM(value)
                aggregation_multiple_values: SUM(value)
                style_type: Dynamic quantitative style.
                style_config:
                  no_data_rule:
                    name: No data
                    rule: No data
                    color: '#D8D8D8'
                    active: 'true'
                    outline_size: '0.5'
                    outline_color: '#ffffff'
                  outline_size: 0.5
                  sync_outline: false
                  color_palette: 3
                  outline_color: '#FFFFFF'
                  dynamic_class_num: '7'
                  color_palette_reverse: false
                  dynamic_classification: Equidistant.
        required: true
      security:
      - ApiKey Auth: []
      summary: Indicator detail partial update
      x-summary-source: derived
    delete:
      operationId: indicator-detail-delete
      description: Delete an indicator.
      responses:
        '204':
          description: ''
      tags:
      - Indicator
      security:
      - ApiKey Auth: []
      summary: Indicator detail delete
      x-summary-source: derived
    servers:
    - url: https://geosight.unicef.org/api/v1
  /indicators/{indicators_id}/data/:
    parameters:
    - name: indicators_id
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: indicator-data-list
      description: Return list of indicator data for the user.
      parameters:
      - name: page
        in: query
        description: A page number within the paginated result set.
        required: false
        schema:
          type: integer
      - name: page_size
        in: query
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: Resource fetching successful.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/IndicatorValue'
      tags:
      - Indicator
      security:
      - ApiKey Auth: []
      summary: Indicator data list
      x-summary-source: derived
    servers:
    - url: https://geosight.unicef.org/api/v1
  /indicators/{indicators_id}/data/{id}/:
    parameters:
    - name: indicators_id
      in: path
      required: true
      schema:
        type: string
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: indicator-data-detail
      description: Return detail of a indicator row for the user.
      responses:
        '200':
          description: Resource fetching successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndicatorValue'
      tags:
      - Indicator
      security:
      - ApiKey Auth: []
      summary: Indicator data detail
      x-summary-source: derived
    servers:
    - url: https://geosight.unicef.org/api/v1
  /api/indicators:
    get:
      tags:
      - Indicator
      summary: Get the list of all indicators defined in the database.
      operationId: Indicator_GetAllIndicatorsLitstNoAttributes
      responses:
        '200':
          description: 'The list of all indicators defined in the database. It doesn''t include indicator attributes (only names) and related objects: use api/indicators/{id:long} or api/indicators/full/{id:long} for full details.'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/IndicatorItem'
    servers:
    - url: https://rdmapi.unicef.org
  /api/indicators/agency/{agencyCode}:
    get:
      tags:
      - Indicator
      summary: Get the list of all indicators defined in the database by agency code.
      operationId: Indicator_GetAllIndicatorsLitsByAgencyNoAttributes
      parameters:
      - name: agencyCode
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The list of all indicators defined in the database by agency code. It doesn't include indicator attributes and related objects. Use /api/countries/organizations to get the list of agencies.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/IndicatorItem'
    servers:
    - url: https://rdmapi.unicef.org
  /api/indicators/spstatement/{statementCode}:
    get:
      tags:
      - Indicator
      summary: Get the list of all indicators by strategic plan statement helix code.
      operationId: Indicator_GetAllIndicatorsLitsBySPStatementNoAttributes
      parameters:
      - name: statementCode
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The list of all indicators by strategic plan statement helix code.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/IndicatorItem'
    servers:
    - url: https://rdmapi.unicef.org
  /api/indicators/{id}:
    get:
      tags:
      - Indicator
      summary: Get an indicator given its ID.
      operationId: Indicator_GetIndicatorByIDNoVersion
      parameters:
      - name: id
        in: path
        required: true
        description: The ID of the requested indicator
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: The requested indicator with all attributes and related objects. Previous versions of simple attributes are not included
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndicatorItem'
        '404':
          description: The indicator was not found in the database
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
    servers:
    - url: https://rdmapi.unicef.org
  /api/indicators/{code}:
    get:
      tags:
      - Indicator
      summary: Get an indicator given its ID.
      operationId: Indicator_GetIndicatorByCodeNoVersion
      parameters:
      - name: code
        in: path
        required: true
        description: The code of the requested indicator
        schema:
          type: string
      responses:
        '200':
          description: The requested indicator with all attributes and related objects. Previous versions of simple attributes are not included
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndicatorItem'
        '404':
          description: The indicator was not found in the database
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
    servers:
    - url: https://rdmapi.unicef.org
components:
  schemas:
    IndicatorAdminList:
      required:
      - name
      type: object
      properties:
        id:
          title: ID
          type: integer
          readOnly: true
        name:
          title: Name
          type: string
          maxLength: 512
          minLength: 1
        category:
          title: Category
          type: string
          readOnly: true
        source:
          title: Source
          type:
          - string
          - 'null'
          maxLength: 512
        shortcode:
          title: Shortcode
          description: A computer-to-computer shortcode for this indicator. For example, an abbreviated name that you might use to refer to it in a spreadsheet column.
          type:
          - string
          - 'null'
          maxLength: 512
        description:
          title: Description
          type:
          - string
          - 'null'
        type:
          title: Type
          type: string
          enum:
          - Integer
          - Float
          - String
        min_value:
          title: Min value
          type:
          - number
          - 'null'
        max_value:
          title: Max value
          type:
          - number
          - 'null'
        aggregation_upper_level_allowed:
          title: Aggregation upper level allowed
          type: boolean
        aggregation_upper_level:
          title: Aggregation upper level
          description: Default aggregation for upper level
          type:
          - string
          - 'null'
          maxLength: 64
        aggregation_multiple_values:
          title: Aggregation multiple values
          description: Default aggregation for multiple values
          type:
          - string
          - 'null'
          maxLength: 64
        style_type:
          title: Style type
          type: string
          enum:
          - Predefined style/color rules.
          - Dynamic quantitative style.
          - Dynamic qualitative style.
          - Style from library.
        style_config:
          title: Style config
          type:
          - object
          - 'null'
        created_at:
          title: Created at
          type: string
          readOnly: true
        modified_at:
          title: Modified at
          type: string
          readOnly: true
    IndicatorValue:
      required:
      - date
      - geom_id
      type: object
      properties:
        id:
          title: id
          type: number
        indicator:
          title: Indicator
          type: string
        indicator_id:
          title: Indicator id
          type: number
        value:
          title: Value
          type: string
        date:
          title: Date
          type: string
        geom_id:
          title: Geom id
          type: string
        admin_level:
          title: Entity admin level
          type: number
        entity_name:
          title: Entity name
          type: string
        country_id:
          title: Country id
          type: string
        country_geom_id:
          title: Country geom id
          type: string
        country_name:
          title: Country name
          type: string
        attributes:
          title: Attributes
          type: object
        permission:
          title: Permission
          type: object
          properties:
            list:
              title: List
              type: boolean
            read:
              title: Read
              type: boolean
            edit:
              title: Edit
              type: boolean
            share:
              title: Share
              type: boolean
            delete:
              title: Delete
              type: boolean
      title: IndicatorValue
      example:
        id: 1
        indicator: Test indicator
        indicator_id: 1
        indicator_shortcode: TEST
        value: 0
        date: '1990-01-01'
        geom_id: GEOM_1
        admin_level: 1
        entity_name: Geometry 1
        country_id: 1
        country_geom_id: COUNTRY_1
        country_name: Country 1
        attributes:
          Value 1: 1
        permission:
          list: true
          read: true
          edit: true
          share: true
          delete: true
    Custodian:
      type: object
      required:
      - custodianId
      - editedDate
      properties:
        custodianId:
          type: integer
          format: int32
        name:
          type: string
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
        code:
          type: string
        indicator2Custodians:
          type: array
          items:
            $ref: '#/components/schemas/Indicator2Custodian'
        indicator2DataCompilers:
          type: array
          items:
            $ref: '#/components/schemas/Indicator2DataCompiler'
        indicator2DataProviders:
          type: array
          items:
            $ref: '#/components/schemas/Indicator2DataProvider'
        indicators:
          type: array
          items:
            $ref: '#/components/schemas/Indicator'
        regionSeries2Custodians:
          type: array
          items:
            $ref: '#/components/schemas/RegionSeries2Custodian'
    CountryName:
      type: object
      required:
      - countryNameId
      - countryId
      - languageId
      properties:
        countryNameId:
          type: integer
          format: int32
        countryId:
          type: integer
          format: int32
        languageId:
          type: integer
          format: int32
        value:
          type: string
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        organizationId:
          type: integer
          format: int32
        country:
          $ref: '#/components/schemas/Country'
        language:
          $ref: '#/components/schemas/Language'
        organization:
          $ref: '#/components/schemas/CountryOrganization'
    IndicatorAttribute:
      type: object
      required:
      - attributeId
      - languageId
      - isMultilingual
      - weight
      properties:
        attributeId:
          type: integer
          format: int32
        attributeName:
          type: string
        attributeCode:
          type: string
        displayName:
          type: string
        value:
          type: string
        version:
          type: string
        languageId:
          type: integer
          format: int32
        language:
          type: string
        languageISO:
          type: string
        createdBy:
          type: string
        createdDate:
          type: string
        isMultilingual:
          type: boolean
        weight:
          type: integer
          format: int32
        prevVersions:
          type: array
          items:
            $ref: '#/components/schemas/AttributePreviousVersion'
        files:
          type: array
          items:
            $ref: '#/components/schemas/IndicatorAttributeFile'
    Indicator2Custodian:
      type: object
      required:
      - id
      - indicatorId
      - custodianId
      properties:
        id:
          type: integer
          format: int32
        indicatorId:
          type: integer
          format: int32
        custodianId:
          type: integer
          format: int32
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        custodian:
          $ref: '#/components/schemas/Custodian'
        indicator:
          $ref: '#/components/schemas/Indicator'
    YearAssignmentMethod:
      type: object
      required:
      - yamid
      properties:
        yamid:
          type: integer
          format: int32
        name:
          type: string
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
        code:
          type: string
        indicators:
          type: array
          items:
            $ref: '#/components/schemas/Indicator'
    Indicator2Classification:
      type: object
      required:
      - id
      - indicatorId
      - classificationId
      properties:
        id:
          type: integer
          format: int32
        indicatorId:
          type: integer
          format: int32
        classificationId:
          type: integer
          format: int32
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        value:
          type: string
        classification:
          $ref: '#/components/schemas/IndicatorClassification'
        indicator:
          $ref: '#/components/schemas/Indicator'
    StrategicPlanAreaItem:
      type: object
      required:
      - id
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
        editedBy:
          type: string
        editedDate:
          type: string
        description:
          type: string
        code:
          type: string
    CustodianItem:
      type: object
      required:
      - id
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
        editedBy:
          type: string
        editedDate:
          type: string
        code:
          type: string
    Country2SectorPriority:
      type: object
      required:
      - id
      - countryId
      - sectorId
      properties:
        id:
          type: integer
          format: int64
        countryId:
          type: integer
          format: int32
        sectorId:
          type: integer
          format: int32
        country:
          $ref: '#/components/schemas/Country'
        sector:
          $ref: '#/components/schemas/Sector'
    Country:
      type: object
      required:
      - countryId
      - createdDate
      properties:
        countryId:
          type: integer
          format: int32
        iso3:
          type: string
        m49:
          type: string
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        cndcountryCode:
          type: string
        isCurrent:
          type: boolean
        isSowc:
          type: boolean
        isCountDown:
          type: boolean
        isPublished:
          type: boolean
        country2Regions:
          type: array
          items:
            $ref: '#/components/schemas/Country2Region'
        country2SectorPriorities:
          type: array
          items:
            $ref: '#/components/schemas/Country2SectorPriority'
        countryNames:
          type: array
          items:
            $ref: '#/components/schemas/CountryName'
    IndicatorSimpleAttributeValue:
      type: object
      required:
      - indicatorSimpleAttributeValueId
      - indicatorId
      - attributeId
      - languageId
      - version
      properties:
        indicatorSimpleAttributeValueId:
          type: integer
          format: int32
        indicatorId:
          type: integer
          format: int32
        attributeId:
          type: integer
          format: int32
        languageId:
          type: integer
          format: int32
        version:
          type: string
          format: date-time
        value:
          type: string
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        attribute:
          $ref: '#/components/schemas/IndicatorSimpleAttribute'
        indicator:
          $ref: '#/components/schemas/Indicator'
        language:
          $ref: '#/components/schemas/Language'
    Indicator2DataCompiler:
      type: object
      required:
      - id
      - indicatorId
      - dataCompilerId
      properties:
        id:
          type: integer
          format: int32
        indicatorId:
          type: integer
          format: int32
        dataCompilerId:
          type: integer
          format: int32
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        dataCompiler:
          $ref: '#/components/schemas/Custodian'
        indicator:
          $ref: '#/components/schemas/Indicator'
    DataSource:
      type: object
      required:
      - id
      properties:
        id:
          type: integer
          format: int64
        sourceName:
          type: string
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        indicator2DataSources:
          type: array
          items:
            $ref: '#/components/schemas/Indicator2DataSource'
    RelatedIndicator:
      type: object
      required:
      - id
      - indicatorId
      - targetIndicatorId
      - createdDate
      properties:
        id:
          type: integer
          format: int64
        indicatorId:
          type: integer
          format: int32
        targetIndicatorId:
          type: integer
          format: int32
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        indicator:
          $ref: '#/components/schemas/Indicator'
        targetIndicator:
          $ref: '#/components/schemas/Indicator'
    RegionSeries2Custodian:
      type: object
      required:
      - regionSeries2CustodianId
      - regionSeriesId
      - custodianId
      - createdDate
      properties:
        regionSeries2CustodianId:
          type: integer
          format: int32
        regionSeriesId:
          type: integer
          format: int32
        custodianId:
          type: integer
          format: int32
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        custodian:
          $ref: '#/components/schemas/Custodian'
        regionSeries:
          $ref: '#/components/schemas/RegionSeries'
    Subdomain:
      type: object
      required:
      - subdomainId
      - editedDate
      - domainId
      properties:
        subdomainId:
          type: integer
          format: int32
        name:
          type: string
        shortName:
          type: string
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
        domainId:
          type: integer
          format: int32
        domain:
          $ref: '#/components/schemas/Domain'
        indicators:
          type: array
          items:
            $ref: '#/components/schemas/Indicator'
    IndicatorClassificationItem:
      type: object
      required:
      - iclassId
      properties:
        iclassId:
          type: integer
          format: int32
        name:
          type: string
        editedBy:
          type: string
        editedDate:
          type: string
        type:
          type: string
        value:
          type: string
        code:
          type: string
    YearAssignmentMethodItem:
      type: object
      required:
      - yamId
      properties:
        yamId:
          type: integer
          format: int32
        name:
          type: string
        editedBy:
          type: string
        editedDate:
          type: string
        code:
          type: string
    IndicatorAttributeFile:
      type: object
      required:
      - id
      - uploadedDate
      properties:
        id:
          type: integer
          format: int64
        path:
          type: string
        fileName:
          type: string
        originalFileName:
          type: string
        title:
          type: string
        description:
          type: string
        indicator:
          type: integer
          format: int32
        attribute:
          type: integer
          format: int32
        uploadedBy:
          type: string
        uploadedDate:
          type: string
          format: date-time
    StrategicPlanStatement:
      type: object
      required:
      - id
      - editedDate
      properties:
        id:
          type: integer
          format: int32
        code:
          type: string
        statement:
          type: string
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
        spareaId:
          type: integer
          format: int32
        indicators:
          type: array
          items:
            $ref: '#/components/schemas/Indicator'
        sparea:
          $ref: '#/components/schemas/StrategicPlan'
    StrategicPlan:
      type: object
      required:
      - id
      - editedDate
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
        description:
          type: string
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
        code:
          type: string
        indicators:
          type: array
          items:
            $ref: '#/components/schemas/Indicator'
        strategicPlanStatements:
          type: array
          items:
            $ref: '#/components/schemas/StrategicPlanStatement'
    RelatedIndicatorItem:
      type: object
      required:
      - indicatorId
      properties:
        indicatorId:
          type: integer
          format: int32
        code:
          type: string
        helixCode:
          type: string
        language2Name:
          type: object
          additionalProperties:
            type: string
        createdBy:
          type: string
        createdDate:
          type: string
    User:
      type: object
      required:
      - userId
      - isAdministrator
      - isActive
      - isAgencyAdmin
      properties:
        userId:
          type: integer
          format: int32
        username:
          type: string
        fullname:
          type: string
        isAdministrator:
          type: boolean
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
        isActive:
          type: boolean
        division:
          type: string
        agency:
          type: integer
          format: int32
        isAgencyAdmin:
          type: boolean
        agencyNavigation:
          $ref: '#/components/schemas/CountryOrganization'
        user2Sectors:
          type: array
          items:
            $ref: '#/components/schemas/User2Sector'
    Tag:
      type: object
      required:
      - id
      properties:
        id:
          type: integer
          format: int64
        tagName:
          type: string
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        tags2Indicators:
          type: array
          items:
            $ref: '#/components/schemas/Tags2Indicator'
    IndicatorFile:
      type: object
      required:
      - id
      - indicator
      - uploadedDate
      properties:
        id:
          type: integer
          format: int64
        fileName:
          type: string
        originalFileName:
          type: string
        title:
          type: string
        description:
          type: string
        indicator:
          type: integer
          format: int32
        attribute:
          type: integer
          format: int32
        idDeleted:
          type: boolean
        uploadedBy:
          type: string
        uploadedDate:
          type: string
          format: date-time
        attributeNavigation:
          $ref: '#/components/schemas/IndicatorSimpleAttribute'
        indicatorNavigation:
          $ref: '#/components/schemas/Indicator'
    StrategicPlanStatementItem:
      type: object
      required:
      - id
      properties:
        id:
          type: integer
          format: int32
        editedBy:
          type: string
        editedDate:
          type: string
        statement:
          type: string
        code:
          type: string
        spArea:
          $ref: '#/components/schemas/StrategicPlanAreaItem'
    IndicatorClassification:
      type: object
      required:
      - iclassId
      - editedDate
      properties:
        iclassId:
          type: integer
          format: int32
        name:
          type: string
        type:
          type: string
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
        code:
          type: string
        indicator2Classifications:
          type: array
          items:
            $ref: '#/components/schemas/Indicator2Classification'
    DataSourceItem:
      type: object
      required:
      - id
      properties:
        id:
          type: integer
          format: int64
        sourceName:
          type: string
        createdBy:
          type: string
        createdDate:
          type: string
    Sector:
      type: object
      required:
      - sectorId
      properties:
        sectorId:
          type: integer
          format: int32
        name:
          type: string
        shortName:
          type: string
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
        helixName:
          type: string
        country2SectorPriorities:
          type: array
          items:
            $ref: '#/components/schemas/Country2SectorPriority'
        domains:
          type: array
          items:
            $ref: '#/components/schemas/Domain'
        sector2Agencies:
          type: array
          items:
            $ref: '#/components/schemas/Sector2Agency'
        user2Sectors:
          type: array
          items:
            $ref: '#/components/schemas/User2Sector'
    Indicator2DataProvider:
      type: object
      required:
      - id
      - indicatorId
      - dataProviderId
      properties:
        id:
          type: integer
          format: int32
        indicatorId:
          type: integer
          format: int32
        dataProviderId:
          type: integer
          format: int32
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        dataProvider:
          $ref: '#/components/schemas/Custodian'
        indicator:
          $ref: '#/components/schemas/Indicator'
    IndicatorQuestion:
      type: object
      required:
      - id
      - indicatorId
      - createdDate
      properties:
        id:
          type: integer
          format: int64
        indicatorId:
          type: integer
          format: int32
        question:
          type: string
        dwDataPointId:
          type: string
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        indicator:
          $ref: '#/components/schemas/Indicator'
    TagItem:
      type: object
      properties:
        id:
          type: integer
          format: int64
        tagName:
          type: string
        createdBy:
          type: string
        createdDate:
          type: string
        indicators:
          type: array
          items:
            type: integer
            format: int32
    IndicatorSimpleAttribute:
      type: object
      required:
      - attributeId
      - hasTranslation
      - editedDate
      properties:
        attributeId:
          type: integer
          format: int32
        code:
          type: string
        name:
          type: string
        displayName:
          type: string
        hasTranslation:
          type: boolean
        weight:
          type: integer
          format: int32
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
        definition:
          type: string
        indicatorFiles:
          type: array
          items:
            $ref: '#/components/schemas/IndicatorFile'
        indicatorSimpleAttributeValues:
          type: array
          items:
            $ref: '#/components/schemas/IndicatorSimpleAttributeValue'
    RegionCollection:
      type: object
      required:
      - regionCollectionId
      - createdDate
      properties:
        regionCollectionId:
          type: integer
          format: int32
        name:
          type: string
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        code:
          type: string
        regions:
          type: array
          items:
            $ref: '#/components/schemas/Region'
    User2Sector:
      type: object
      required:
      - id
      - userId
      - sectorId
      - createdDate
      properties:
        id:
          type: integer
          format: int64
        userId:
          type: integer
          format: int32
        sectorId:
          type: integer
          format: int32
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        sector:
          $ref: '#/components/schemas/Sector'
        user:
          $ref: '#/components/schemas/User'
    Indicator2Agency:
      type: object
      required:
      - id
      - indicatorId
      - agencyId
      - createdDate
      properties:
        id:
          type: integer
          format: int64
        indicatorId:
          type: integer
          format: int32
        agencyId:
          type: integer
          format: int32
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        agency:
          $ref: '#/components/schemas/CountryOrganization'
        indicator:
          $ref: '#/components/schemas/Indicator'
    CollectionProcessItem:
      type: object
      required:
      - collectionProcessId
      properties:
        collectionProcessId:
          type: integer
          format: int32
        name:
          type: string
        editedBy:
          type: string
        editedDate:
          type: string
        description:
          type: string
        code:
          type: string
        dataRelease:
          type: string
        dataCollection:
          type: string
    Indicator:
      type: object
      required:
      - indicatorId
      - createdDate
      - isPublished
      - isDeleted
      properties:
        indicatorId:
          type: integer
          format: int32
        code:
          type: string
        collectionMechanismId:
          type: integer
          format: int32
        yamid:
          type: integer
          format: int32
        subdomainId:
          type: integer
          format: int32
        domainId:
          type: integer
          format: int32
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
        helixCode:
          type: string
        isPublished:
          type: boolean
        changePublishedBy:
          type: string
        changePublishedDate:
          type: string
          format: date-time
        isDeleted:
          type: boolean
        strategicPlanId:
          type: integer
          format: int32
        indType:
          type: integer
          format: int64
        strategicPlanStatementId:
          type: integer
          format: int32
        custodian:
          type: integer
          format: int32
        ownerAgency:
          type: integer
          format: int32
        parentIndicatorId:
          type: integer
          format: int32
        collectionMechanism:
          $ref: '#/components/schemas/CollectionMechanism'
        custodianNavigation:
          $ref: '#/components/schemas/Custodian'
        domain:
          $ref: '#/components/schemas/Domain'
        indTypeNavigation:
          $ref: '#/components/schemas/IndicatorType'
        indicator2Agencies:
          type: array
          items:
            $ref: '#/components/schemas/Indicator2Agency'
        indicator2Classifications:
          type: array
          items:
            $ref: '#/components/schemas/Indicator2Classification'
        indicator2Custodians:
          type: array
          items:
            $ref: '#/components/schemas/Indicator2Custodian'
        indicator2DataCompilers:
          type: array
          items:
            $ref: '#/components/schemas/Indicator2DataCompiler'
        indicator2DataProviders:
          type: array
          items:
            $ref: '#/components/schemas/Indicator2DataProvider'
        indicator2DataSources:
          type: array
          items:
            $ref: '#/components/schemas/Indicator2DataSource'
        indicatorFiles:
          type: array
          items:
            $ref: '#/components/schemas/IndicatorFile'
        indicatorQuestions:
          type: array
          items:
            $ref: '#/components/schemas/IndicatorQuestion'
        indicatorSimpleAttributeValues:
          type: array
          items:
            $ref: '#/components/schemas/IndicatorSimpleAttributeValue'
        inverseParentIndicator:
          type: array
          items:
            $ref: '#/components/schemas/Indicator'
        ownerAgencyNavigation:
          $ref: '#/components/schemas/CountryOrganization'
        parentIndicator:
          $ref: '#/components/schemas/Indicator'
        relatedIndicatorIndicators:
          type: array
          items:
            $ref: '#/components/schemas/RelatedIndicator'
        relatedIndicatorTargetIndicators:
          type: array
          items:
            $ref: '#/components/schemas/RelatedIndicator'
        strategicPlan:
          $ref: '#/components/schemas/StrategicPlan'
        strategicPlanStatement:
          $ref: '#/components/schemas/StrategicPlanStatement'
        subdomain:
          $ref: '#/components/schemas/Subdomain'
        tags2Indicators:
          type: array
          items:
            $ref: '#/components/schemas/Tags2Indicator'
        yam:
          $ref: '#/components/schemas/YearAssignmentMethod'
    Indicator2DataSource:
      type: object
      required:
      - id
      - indicatorId
      - dataSourceId
      - createdDate
      properties:
        id:
          type: integer
          format: int64
        indicatorId:
          type: integer
          format: int32
        dataSourceId:
          type: integer
          format: int64
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        dataSource:
          $ref: '#/components/schemas/DataSource'
        indicator:
          $ref: '#/components/schemas/Indicator'
    Tags2Indicator:
      type: object
      required:
      - id
      - indicatorId
      - tagId
      - createdDate
      properties:
        id:
          type: integer
          format: int64
        indicatorId:
          type: integer
          format: int32
        tagId:
          type: integer
          format: int64
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        indicator:
          $ref: '#/components/schemas/Indicator'
        tag:
          $ref: '#/components/schemas/Tag'
    IndicatorType:
      type: object
      required:
      - id
      properties:
        id:
          type: integer
          format: int64
        typeName:
          type: string
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        indicators:
          type: array
          items:
            $ref: '#/components/schemas/Indicator'
    IndicatorTypeItem:
      type: object
      properties:
        id:
          type: integer
          format: int64
        typeName:
          type: string
        createdBy:
          type: string
        createdDate:
          type: string
    IndicatorItem:
      type: object
      required:
      - indicatorId
      - isPublished
      properties:
        indicatorId:
          type: integer
          format: int32
        code:
          type: string
        helixCode:
          type: string
        ownerAgency:
          $ref: '#/components/schemas/CountryOrganization'
        sector:
          type: string
        domain:
          type: string
        subdomain:
          type: string
        editedBy:
          type: string
        editedDate:
          type: string
        createdBy:
          type: string
        createdDate:
          type: string
        isPublished:
          type: boolean
        changePublishStatusBy:
          type: string
        changePublishStatusDate:
          type: string
        language2Name:
          type: object
          additionalProperties:
            type: string
        attributes:
          type: array
          items:
            $ref: '#/components/schemas/IndicatorAttribute'
        collectionMechanism:
          $ref: '#/components/schemas/CollectionProcessItem'
        strategicPlanArea:
          $ref: '#/components/schemas/StrategicPlanAreaItem'
        strategicPlanStatement:
          $ref: '#/components/schemas/StrategicPlanStatementItem'
        classifications:
          type: array
          items:
            $ref: '#/components/schemas/IndicatorClassificationItem'
        custodian:
          $ref: '#/components/schemas/CustodianItem'
        coCustodians:
          type: array
          items:
            $ref: '#/components/schemas/CustodianItem'
        dataCompilers:
          type: array
          items:
            $ref: '#/components/schemas/CustodianItem'
        dataProviders:
          type: array
          items:
            $ref: '#/components/schemas/CustodianItem'
        yam:
          $ref: '#/components/schemas/YearAssignmentMethodItem'
        tags:
          type: array
          items:
            $ref: '#/components/schemas/TagItem'
        relatedIndicators:
          type: array
          items:
            $ref: '#/components/schemas/RelatedIndicatorItem'
        dataSources:
          type: array
          items:
            $ref: '#/components/schemas/DataSourceItem'
        agencies:
          type: array
          items:
            $ref: '#/components/schemas/CountryOrganization'
        type:
          $ref: '#/components/schemas/IndicatorTypeItem'
        parent:
          $ref: '#/components/schemas/RelatedIndicatorItem'
    CollectionMechanism:
      type: object
      required:
      - collectionMechanismId
      - editedDate
      properties:
        collectionMechanismId:
          type: integer
          format: int32
        name:
          type: string
        description:
          type: string
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
        code:
          type: string
        dataRelease:
          type: string
        dataCollection:
          type: string
        indicators:
          type: array
          items:
            $ref: '#/components/schemas/Indicator'
    Language:
      type: object
      required:
      - languageId
      properties:
        languageId:
          type: integer
          format: int32
        name:
          type: string
        iso6392:
          type: string
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
        countryNames:
          type: array
          items:
            $ref: '#/components/schemas/CountryName'
        indicatorSimpleAttributeValues:
          type: array
          items:
            $ref: '#/components/schemas/IndicatorSimpleAttributeValue'
        regionNames:
          type: array
          items:
            $ref: '#/components/schemas/RegionName'
    RegionName:
      type: object
      required:
      - id
      - regionId
      - languageId
      - createdDate
      properties:
        id:
          type: integer
          format: int32
        regionId:
          type: integer
          format: int32
        languageId:
          type: integer
          format: int32
        value:
          type: string
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        language:
          $ref: '#/components/schemas/Language'
        region:
          $ref: '#/components/schemas/Region'
    CountryOrganization:
      type: object
      required:
      - id
      properties:
        id:
          type: integer
          format: int32
        organization:
          type: string
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
        code:
          type: string
        countryNames:
          type: array
          items:
            $ref: '#/components/schemas/CountryName'
        indicator2Agencies:
          type: array
          items:
            $ref: '#/components/schemas/Indicator2Agency'
        indicators:
          type: array
          items:
            $ref: '#/components/schemas/Indicator'
        sector2Agencies:
          type: array
          items:
            $ref: '#/components/schemas/Sector2Agency'
        users:
          type: array
          items:
            $ref: '#/components/schemas/User'
    AttributePreviousVersion:
      type: object
      properties:
        value:
          type: string
        version:
          type: string
        createdBy:
          type: string
    ProblemDetails:
      type: object
      additionalProperties: {}
      required:
      - extensions
      properties:
        type:
          type: string
        title:
          type: string
        status:
          type: integer
          format: int32
        detail:
          type: string
        instance:
          type: string
        extensions:
          type: object
          additionalProperties: {}
    Domain:
      type: object
      required:
      - domainId
      - sectorId
      properties:
        domainId:
          type: integer
          format: int32
        name:
          type: string
        shortName:
          type: string
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
        sectorId:
          type: integer
          format: int32
        indicators:
          type: array
          items:
            $ref: '#/components/schemas/Indicator'
        sector:
          $ref: '#/components/schemas/Sector'
        subdomains:
          type: array
          items:
            $ref: '#/components/schemas/Subdomain'
    RegionSeries:
      type: object
      required:
      - regionSeriesId
      - createdDate
      properties:
        regionSeriesId:
          type: integer
          format: int32
        code:
          type: string
        name:
          type: string
        description:
          type: string
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        regionSeries2Custodians:
          type: array
          items:
            $ref: '#/components/schemas/RegionSeries2Custodian'
        regions:
          type: array
          items:
            $ref: '#/components/schemas/Region'
    Sector2Agency:
      type: object
      required:
      - id
      - sectorId
      - agencyId
      - createdDate
      properties:
        id:
          type: integer
          format: int64
        sectorId:
          type: integer
          format: int32
        agencyId:
          type: integer
          format: int32
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        agency:
          $ref: '#/components/schemas/CountryOrganization'
        sector:
          $ref: '#/components/schemas/Sector'
    Region:
      type: object
      required:
      - regionId
      - level
      properties:
        regionId:
          type: integer
          format: int32
        m49:
          type: string
        altName:
          type: string
        status:
          type: string
        level:
          type: integer
          format: int32
        description:
          type: string
        parentRegionId:
          type: integer
          format: int32
        collectionId:
          type: integer
          format: int32
        seriesId:
          type: integer
          format: int32
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        cndregionalCode:
          type: string
        organization:
          type: string
        collection:
          $ref: '#/components/schemas/RegionCollection'
        country2Regions:
          type: array
          items:
            $ref: '#/components/schemas/Country2Region'
        inverseParentRegion:
          type: array
          items:
            $ref: '#/components/schemas/Region'
        parentRegion:
          $ref: '#/components/schemas/Region'
        regionNames:
          type: array
          items:
            $ref: '#/components/schemas/RegionName'
        series:
          $ref: '#/components/schemas/RegionSeries'
    Country2Region:
      type: object
      required:
      - id
      - countryId
      - regionId
      - createdDate
      properties:
        id:
          type: integer
          format: int32
        countryId:
          type: integer
          format: int32
        regionId:
          type: integer
          format: int32
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        country:
          $ref: '#/components/schemas/Country'
        region:
          $ref: '#/components/schemas/Region'
  securitySchemes:
    ApiKey_Auth:
      type: apiKey
      in: header
      name: Authorization
x-refined-from:
- unicef-geosight-openapi.json
- unicef-reference-data-manager-openapi.json
