{"swagger": "2.0", "info": {"title": "GeoSight API", "version": "v1.0.0"}, "host": "geosight.unicef.org", "schemes": ["https"], "basePath": "/api/v1", "consumes": ["application/json"], "produces": ["application/json"], "securityDefinitions": {"ApiKey Auth": {"type": "apiKey", "in": "header", "name": "Authorization"}}, "security": [{"ApiKey Auth": []}], "paths": {"/basemaps/": {"get": {"operationId": "basemap-list", "description": "Return list of accessed basemap for the user.", "parameters": [{"name": "page", "in": "query", "description": "Page number in pagination", "type": "integer", "default": 1}, {"name": "page_size", "in": "query", "description": "Total records in a page", "type": "integer", "default": 25}, {"name": "sort", "in": "query", "description": "Fields to be sorted should be specified as a comma-separated list.e.g: sort=name for asc, -sort=name for desc", "required": false, "type": "string"}, {"name": "fields", "in": "query", "description": "Fields to be returned should be specified as a comma-separated list.e.g: fields=__all__ for returning all fields, fields=name,category to return just name and category", "required": false, "type": "string"}, {"name": "name__contains", "in": "query", "description": "Filter data by partial name.", "type": "string"}, {"name": "description__contains", "in": "query", "description": "Filter data by partial description.", "type": "string"}, {"name": "category__name__in", "in": "query", "description": "Filter data by multiple category. Put multiple filter using comma separator.", "type": "string"}, {"name": "type__in", "in": "query", "description": "Filter data by multiple type. Put multiple filter using comma separator.", "type": "string"}, {"name": "project_slug__in", "in": "query", "description": "Filter data by multiple project slug. Put multiple filter using comma separator.", "type": "string"}, {"name": "project_id__in", "in": "query", "description": "Filter data by multiple project id. Put multiple filter using comma separator.", "type": "string"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/BasemapLayer"}}}}}}, "tags": ["Basemap"]}, "post": {"operationId": "basemap-create", "description": "Create a basemap.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"description": "Data that is needed to create/edit basemap.", "type": "object", "properties": {"name": {"title": "Name", "type": "string"}, "description": {"title": "Description", "type": "string"}, "category": {"title": "Category", "type": "string"}, "url": {"title": "Url", "type": "string"}, "type": {"title": "Type", "description": "The choices are [['XYZ Tile', 'WMS']]", "type": "string"}}}}], "responses": {"201": {"description": "", "schema": {"description": "Data that is needed to create/edit basemap.", "type": "object", "properties": {"name": {"title": "Name", "type": "string"}, "description": {"title": "Description", "type": "string"}, "category": {"title": "Category", "type": "string"}, "url": {"title": "Url", "type": "string"}, "type": {"title": "Type", "description": "The choices are [['XYZ Tile', 'WMS']]", "type": "string"}}}}}, "tags": ["Basemap"]}, "parameters": []}, "/basemaps/{id}/": {"get": {"operationId": "basemap-detail", "description": "Return detailed of basemap.", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/BasemapLayer"}}}, "tags": ["Basemap"]}, "put": {"operationId": "basemap-detail-update", "description": "Replace a detailed of basemap.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"description": "Data that is needed to create/edit basemap.", "type": "object", "properties": {"name": {"title": "Name", "type": "string"}, "description": {"title": "Description", "type": "string"}, "category": {"title": "Category", "type": "string"}, "url": {"title": "Url", "type": "string"}, "type": {"title": "Type", "description": "The choices are [['XYZ Tile', 'WMS']]", "type": "string"}}}}], "responses": {"200": {"description": "", "schema": {"description": "Data that is needed to create/edit basemap.", "type": "object", "properties": {"name": {"title": "Name", "type": "string"}, "description": {"title": "Description", "type": "string"}, "category": {"title": "Category", "type": "string"}, "url": {"title": "Url", "type": "string"}, "type": {"title": "Type", "description": "The choices are [['XYZ Tile', 'WMS']]", "type": "string"}}}}}, "tags": ["Basemap"]}, "patch": {"operationId": "basemap-detail-partial-update", "description": "Update just partial data based on payload a detailed of basemap.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"description": "Data that is needed to create/edit basemap.", "type": "object", "properties": {"name": {"title": "Name", "type": "string"}, "description": {"title": "Description", "type": "string"}, "category": {"title": "Category", "type": "string"}, "url": {"title": "Url", "type": "string"}, "type": {"title": "Type", "description": "The choices are [['XYZ Tile', 'WMS']]", "type": "string"}}}}], "responses": {"200": {"description": "", "schema": {"description": "Data that is needed to create/edit basemap.", "type": "object", "properties": {"name": {"title": "Name", "type": "string"}, "description": {"title": "Description", "type": "string"}, "category": {"title": "Category", "type": "string"}, "url": {"title": "Url", "type": "string"}, "type": {"title": "Type", "description": "The choices are [['XYZ Tile', 'WMS']]", "type": "string"}}}}}, "tags": ["Basemap"]}, "delete": {"operationId": "basemap-detail-delete", "description": "Delete a basemap.", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["Basemap"]}, "parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}]}, "/code-list/": {"get": {"operationId": "codelist-list", "description": "Return list of code list.", "parameters": [{"name": "page", "in": "query", "description": "Page number in pagination", "type": "integer", "default": 1}, {"name": "page_size", "in": "query", "description": "Total records in a page", "type": "integer", "default": 25}, {"name": "sort", "in": "query", "description": "Fields to be sorted should be specified as a comma-separated list.e.g: sort=name for asc, -sort=name for desc", "required": false, "type": "string"}, {"name": "fields", "in": "query", "description": "Fields to be returned should be specified as a comma-separated list.e.g: fields=__all__ for returning all fields, fields=name,category to return just name and category", "required": false, "type": "string"}, {"name": "name__contains", "in": "query", "description": "Filter data by partial name.", "type": "string"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/CodeList"}}}}}}, "tags": ["Code List"]}, "post": {"operationId": "codelist-create", "description": "Create a code list.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"description": "Data that is needed to create/edit codelist.", "type": "object", "properties": {"name": {"title": "Name", "type": "string"}, "description": {"title": "Description", "type": "string"}, "codes": {"title": "Codes", "type": "array", "items": {"type": "object", "properties": {"name": {"title": "Code name", "type": "string"}, "description": {"title": "Code description", "type": "string"}, "value": {"title": "Code value", "type": "string"}}}}}}}], "responses": {"201": {"description": "", "schema": {"description": "Data that is needed to create/edit codelist.", "type": "object", "properties": {"name": {"title": "Name", "type": "string"}, "description": {"title": "Description", "type": "string"}, "codes": {"title": "Codes", "type": "array", "items": {"type": "object", "properties": {"name": {"title": "Code name", "type": "string"}, "description": {"title": "Code description", "type": "string"}, "value": {"title": "Code value", "type": "string"}}}}}}}}, "tags": ["Code List"]}, "parameters": []}, "/code-list/{id}/": {"get": {"operationId": "codelist-detail", "description": "Return detailed of code list.", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CodeList"}}}, "tags": ["Code List"]}, "put": {"operationId": "codelist-update", "description": "Update detailed of code list.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CodeList"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CodeList"}}}, "tags": ["Code List"]}, "patch": {"operationId": "codelist-patch", "description": "Patch detailed of code list.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CodeList"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CodeList"}}}, "tags": ["Code List"]}, "delete": {"operationId": "codelist-delete", "description": "Delete detailed of code list.", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["Code List"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this Codelist.", "required": true, "type": "integer"}]}, "/code-list/{id}/codes/": {"post": {"operationId": "codelist-code-add", "description": "List dashboard groups.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"description": "Data that is needed to create/edit basemap.", "type": "object", "properties": {"name": {"title": "Name", "type": "string"}, "description": {"title": "Description", "type": "string"}, "value": {"title": "Value", "type": "string"}}}}], "responses": {"201": {"description": "", "schema": {"description": "Data that is needed to create/edit basemap.", "type": "object", "properties": {"name": {"title": "Name", "type": "string"}, "description": {"title": "Description", "type": "string"}, "value": {"title": "Value", "type": "string"}}}}}, "tags": ["Code List"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this Codelist.", "required": true, "type": "integer"}]}, "/context-layers/": {"get": {"operationId": "context-layer-list", "description": "Return list of accessed context layer for the user.", "parameters": [{"name": "page", "in": "query", "description": "Page number in pagination", "type": "integer", "default": 1}, {"name": "page_size", "in": "query", "description": "Total records in a page", "type": "integer", "default": 25}, {"name": "sort", "in": "query", "description": "Fields to be sorted should be specified as a comma-separated list.e.g: sort=name for asc, -sort=name for desc", "required": false, "type": "string"}, {"name": "fields", "in": "query", "description": "Fields to be returned should be specified as a comma-separated list.e.g: fields=__all__ for returning all fields, fields=name,category to return just name and category", "required": false, "type": "string"}, {"name": "name__contains", "in": "query", "description": "Filter data by partial name.", "type": "string"}, {"name": "description__contains", "in": "query", "description": "Filter data by partial description.", "type": "string"}, {"name": "category__name__in", "in": "query", "description": "Filter data by multiple category. Put multiple filter using comma separator.", "type": "string"}, {"name": "type__in", "in": "query", "description": "Filter data by multiple type. Put multiple filter using comma separator.", "type": "string"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/ContextLayer"}}}}}}, "tags": ["Context layer"]}, "post": {"operationId": "context-layer-create", "description": "Create a context layer.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"description": "Data that is needed to create/edit context layer.", "type": "object", "properties": {"name": {"title": "Name", "type": "string"}, "description": {"title": "Description", "type": "string"}, "category": {"title": "Category", "type": "string"}, "url": {"title": "Url", "type": "string"}, "type": {"title": "Type", "description": "The choices are ['ARCGIS', 'Geojson', 'Raster COG', 'Raster Tile', 'Vector Tile', 'Related Table', 'Cloud Native GIS Layer']", "type": "string"}, "styles": {"title": "Styles", "description": "String of JSON containing style configuration. The styles are simply a list of layers in a Mapbox style.", "type": "object"}}, "example": {"name": "Context Layer", "description": "", "layer_type": "Cloud Native GIS Layer", "category": "Test", "styles": [{"id": "1", "type": "circle", "paint": {"circle-color": "#98F194", "circle-radius": 6, "circle-opacity": 1, "circle-stroke-width": 1}, "source": "00000000-0000-0000-0000-000000000000", "source-layer": "default"}, {"id": "2", "type": "circle", "paint": {"circle-color": "#88005C", "circle-radius": 6, "circle-opacity": 1, "circle-stroke-width": 1}, "source": "00000000-0000-0000-0000-000000000000", "source-layer": "default"}]}}}], "responses": {"201": {"description": "", "schema": {"description": "Data that is needed to create/edit context layer.", "type": "object", "properties": {"name": {"title": "Name", "type": "string"}, "description": {"title": "Description", "type": "string"}, "category": {"title": "Category", "type": "string"}, "url": {"title": "Url", "type": "string"}, "type": {"title": "Type", "description": "The choices are ['ARCGIS', 'Geojson', 'Raster COG', 'Raster Tile', 'Vector Tile', 'Related Table', 'Cloud Native GIS Layer']", "type": "string"}, "styles": {"title": "Styles", "description": "String of JSON containing style configuration. The styles are simply a list of layers in a Mapbox style.", "type": "object"}}, "example": {"name": "Context Layer", "description": "", "layer_type": "Cloud Native GIS Layer", "category": "Test", "styles": [{"id": "1", "type": "circle", "paint": {"circle-color": "#98F194", "circle-radius": 6, "circle-opacity": 1, "circle-stroke-width": 1}, "source": "00000000-0000-0000-0000-000000000000", "source-layer": "default"}, {"id": "2", "type": "circle", "paint": {"circle-color": "#88005C", "circle-radius": 6, "circle-opacity": 1, "circle-stroke-width": 1}, "source": "00000000-0000-0000-0000-000000000000", "source-layer": "default"}]}}}}, "tags": ["Context layer"]}, "parameters": []}, "/context-layers/{context_layer_id}/attributes/": {"get": {"operationId": "context-layer-attribute-list", "description": "Return attributes of accessed context layer for the user.Specifically for cloud native layer.", "parameters": [{"name": "page", "in": "query", "description": "Page number in pagination", "type": "integer", "default": 1}, {"name": "page_size", "in": "query", "description": "Total records in a page", "type": "integer", "default": 25}, {"name": "sort", "in": "query", "description": "Fields to be sorted should be specified as a comma-separated list.e.g: sort=name for asc, -sort=name for desc", "required": false, "type": "string"}, {"name": "fields", "in": "query", "description": "Fields to be returned should be specified as a comma-separated list.e.g: fields=__all__ for returning all fields, fields=name,category to return just name and category", "required": false, "type": "string"}], "responses": {"200": {"description": ""}}, "tags": ["Context layer"]}, "parameters": [{"name": "context_layer_id", "in": "path", "required": true, "type": "string"}]}, "/context-layers/{context_layer_id}/data/download/": {"post": {"operationId": "context-layer-features-download", "description": "Download data based on output type.", "parameters": [{"name": "file_format", "in": "query", "description": "Selected file format to be returned.", "required": true, "type": "string", "enum": ["original", "geojson", "shapefile", "geopackage", "kml"]}], "responses": {"201": {"description": ""}}, "tags": ["Context layer"]}, "parameters": [{"name": "context_layer_id", "in": "path", "required": true, "type": "string"}]}, "/context-layers/{context_layer_id}/data/features/": {"get": {"operationId": "context-layer-features-list", "description": "Retrieve features of accessed context layer for the user.Specifically for cloud native layer.", "parameters": [{"name": "page", "in": "query", "description": "Page number in pagination", "type": "integer", "default": 1}, {"name": "page_size", "in": "query", "description": "Total records in a page", "type": "integer", "default": 25}, {"name": "sort", "in": "query", "description": "Fields to be sorted should be specified as a comma-separated list.e.g: sort=name for asc, -sort=name for desc", "required": false, "type": "string"}, {"name": "fields", "in": "query", "description": "Fields to be returned should be specified as a comma-separated list.e.g: fields=__all__ for returning all fields, fields=name,category to return just name and category", "required": false, "type": "string"}], "responses": {"200": {"description": ""}}, "tags": ["Context layer"]}, "post": {"operationId": "context-layer-features-post", "description": "Add new feature(s) for the accessed context layer for the user.\nNeed to be at least edit data permission.\n\nPayload is geojson format. The geometry type should be the same with the current data.\n", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"description": "Geojson data.", "type": "object", "example": {"type": "FeatureCollection", "features": [{"type": "Feature", "properties": {"id": 1, "name": "New data", "category": "Category 1"}, "geometry": {"type": "Point", "coordinates": [0, 0]}}]}}}], "responses": {"201": {"description": "", "schema": {"description": "Geojson data.", "type": "object", "example": {"type": "FeatureCollection", "features": [{"type": "Feature", "properties": {"id": 1, "name": "New data", "category": "Category 1"}, "geometry": {"type": "Point", "coordinates": [0, 0]}}]}}}}, "tags": ["Context layer"]}, "patch": {"operationId": "context-layer-features-put", "description": "Update filtered feature of the accessed context layer for the user. Restricted to updating only one feature at a time. \nNeed to be at least edit data permission.\n\nPayload is in json with field names as keys and value as the new value. \ne.g. {\"field_1\": \"new_value\", \"field_2\": \"new_value}.", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["Context layer"]}, "delete": {"operationId": "context-layer-features-delete", "description": "Remove filtered feature of the accessed context layer for the user. Restricted to deleting only one feature at a time.\nNeed to be at least edit data permission.", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["Context layer"]}, "parameters": [{"name": "context_layer_id", "in": "path", "required": true, "type": "string"}]}, "/context-layers/{context_layer_id}/data/replace/": {"post": {"operationId": "context-layer-features-replace", "description": "Replace all data ofthe accessed context layer for the user.\nNeed to be at least edit data permission.\n\nPayload is geojson format.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"description": "Geojson data.", "type": "object", "example": {"type": "FeatureCollection", "features": [{"type": "Feature", "properties": {"id": 1, "name": "New data", "category": "Category 1"}, "geometry": {"type": "Point", "coordinates": [0, 0]}}]}}}], "responses": {"201": {"description": "", "schema": {"description": "Geojson data.", "type": "object", "example": {"type": "FeatureCollection", "features": [{"type": "Feature", "properties": {"id": 1, "name": "New data", "category": "Category 1"}, "geometry": {"type": "Point", "coordinates": [0, 0]}}]}}}}, "tags": ["Context layer"]}, "parameters": [{"name": "context_layer_id", "in": "path", "required": true, "type": "string"}]}, "/context-layers/{id}/": {"get": {"operationId": "context-layer-detail", "description": "Return detailed of context layer.", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ContextLayer"}}}, "tags": ["Context layer"]}, "put": {"operationId": "context-layer-detail-update", "description": "Replace a detailed of context layer.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"description": "Data that is needed to create/edit context layer.", "type": "object", "properties": {"name": {"title": "Name", "type": "string"}, "description": {"title": "Description", "type": "string"}, "category": {"title": "Category", "type": "string"}, "url": {"title": "Url", "type": "string"}, "type": {"title": "Type", "description": "The choices are ['ARCGIS', 'Geojson', 'Raster COG', 'Raster Tile', 'Vector Tile', 'Related Table', 'Cloud Native GIS Layer']", "type": "string"}, "styles": {"title": "Styles", "description": "String of JSON containing style configuration. The styles are simply a list of layers in a Mapbox style.", "type": "object"}}, "example": {"name": "Context Layer", "description": "", "layer_type": "Cloud Native GIS Layer", "category": "Test", "styles": [{"id": "1", "type": "circle", "paint": {"circle-color": "#98F194", "circle-radius": 6, "circle-opacity": 1, "circle-stroke-width": 1}, "source": "00000000-0000-0000-0000-000000000000", "source-layer": "default"}, {"id": "2", "type": "circle", "paint": {"circle-color": "#88005C", "circle-radius": 6, "circle-opacity": 1, "circle-stroke-width": 1}, "source": "00000000-0000-0000-0000-000000000000", "source-layer": "default"}]}}}], "responses": {"200": {"description": "", "schema": {"description": "Data that is needed to create/edit context layer.", "type": "object", "properties": {"name": {"title": "Name", "type": "string"}, "description": {"title": "Description", "type": "string"}, "category": {"title": "Category", "type": "string"}, "url": {"title": "Url", "type": "string"}, "type": {"title": "Type", "description": "The choices are ['ARCGIS', 'Geojson', 'Raster COG', 'Raster Tile', 'Vector Tile', 'Related Table', 'Cloud Native GIS Layer']", "type": "string"}, "styles": {"title": "Styles", "description": "String of JSON containing style configuration. The styles are simply a list of layers in a Mapbox style.", "type": "object"}}, "example": {"name": "Context Layer", "description": "", "layer_type": "Cloud Native GIS Layer", "category": "Test", "styles": [{"id": "1", "type": "circle", "paint": {"circle-color": "#98F194", "circle-radius": 6, "circle-opacity": 1, "circle-stroke-width": 1}, "source": "00000000-0000-0000-0000-000000000000", "source-layer": "default"}, {"id": "2", "type": "circle", "paint": {"circle-color": "#88005C", "circle-radius": 6, "circle-opacity": 1, "circle-stroke-width": 1}, "source": "00000000-0000-0000-0000-000000000000", "source-layer": "default"}]}}}}, "tags": ["Context layer"]}, "patch": {"operationId": "context-layer-detail-partial-update", "description": "Update just partial data based on payload a detailed of context layer.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"description": "Data that is needed to create/edit context layer.", "type": "object", "properties": {"name": {"title": "Name", "type": "string"}, "description": {"title": "Description", "type": "string"}, "category": {"title": "Category", "type": "string"}, "url": {"title": "Url", "type": "string"}, "type": {"title": "Type", "description": "The choices are ['ARCGIS', 'Geojson', 'Raster COG', 'Raster Tile', 'Vector Tile', 'Related Table', 'Cloud Native GIS Layer']", "type": "string"}, "styles": {"title": "Styles", "description": "String of JSON containing style configuration. The styles are simply a list of layers in a Mapbox style.", "type": "object"}}, "example": {"name": "Context Layer", "description": "", "layer_type": "Cloud Native GIS Layer", "category": "Test", "styles": [{"id": "1", "type": "circle", "paint": {"circle-color": "#98F194", "circle-radius": 6, "circle-opacity": 1, "circle-stroke-width": 1}, "source": "00000000-0000-0000-0000-000000000000", "source-layer": "default"}, {"id": "2", "type": "circle", "paint": {"circle-color": "#88005C", "circle-radius": 6, "circle-opacity": 1, "circle-stroke-width": 1}, "source": "00000000-0000-0000-0000-000000000000", "source-layer": "default"}]}}}], "responses": {"200": {"description": "", "schema": {"description": "Data that is needed to create/edit context layer.", "type": "object", "properties": {"name": {"title": "Name", "type": "string"}, "description": {"title": "Description", "type": "string"}, "category": {"title": "Category", "type": "string"}, "url": {"title": "Url", "type": "string"}, "type": {"title": "Type", "description": "The choices are ['ARCGIS', 'Geojson', 'Raster COG', 'Raster Tile', 'Vector Tile', 'Related Table', 'Cloud Native GIS Layer']", "type": "string"}, "styles": {"title": "Styles", "description": "String of JSON containing style configuration. The styles are simply a list of layers in a Mapbox style.", "type": "object"}}, "example": {"name": "Context Layer", "description": "", "layer_type": "Cloud Native GIS Layer", "category": "Test", "styles": [{"id": "1", "type": "circle", "paint": {"circle-color": "#98F194", "circle-radius": 6, "circle-opacity": 1, "circle-stroke-width": 1}, "source": "00000000-0000-0000-0000-000000000000", "source-layer": "default"}, {"id": "2", "type": "circle", "paint": {"circle-color": "#88005C", "circle-radius": 6, "circle-opacity": 1, "circle-stroke-width": 1}, "source": "00000000-0000-0000-0000-000000000000", "source-layer": "default"}]}}}}, "tags": ["Context layer"]}, "delete": {"operationId": "context-layer-detail-delete", "description": "Delete a context layer.", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["Context layer"]}, "parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}]}, "/dashboards/": {"get": {"operationId": "dashboard-list", "description": "Return list of accessed dashboard for the user.", "parameters": [{"name": "page", "in": "query", "description": "Page number in pagination", "type": "integer", "default": 1}, {"name": "page_size", "in": "query", "description": "Total records in a page", "type": "integer", "default": 25}, {"name": "sort", "in": "query", "description": "Fields to be sorted should be specified as a comma-separated list.e.g: sort=name for asc, -sort=name for desc", "required": false, "type": "string"}, {"name": "fields", "in": "query", "description": "Fields to be returned should be specified as a comma-separated list.e.g: fields=__all__ for returning all fields, fields=name,category to return just name and category", "required": false, "type": "string"}, {"name": "name__contains", "in": "query", "description": "Filter data by partial name.", "type": "string"}, {"name": "description__contains", "in": "query", "description": "Filter data by partial description.", "type": "string"}, {"name": "category__name__in", "in": "query", "description": "Filter data by multiple category. Put multiple filter using comma separator.", "type": "string"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/DashboardBasic"}}}}}}, "tags": ["Dashboard"]}, "parameters": []}, "/dashboards/groups/": {"get": {"operationId": "dashboard-group-list", "description": "List dashboard groups.", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/DashboardBasic"}}}}}}, "tags": ["Dashboard"]}, "parameters": []}, "/dashboards/{slug}/": {"get": {"operationId": "dashboard-detail", "description": "Return detailed of dashboard.", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/DashboardBasic"}}}, "tags": ["Dashboard"]}, "delete": {"operationId": "dashboard-detail-delete", "description": "Delete a dashboard.", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["Dashboard"]}, "parameters": [{"name": "slug", "in": "path", "required": true, "type": "string"}]}, "/dashboards/{slug}/as-feature/": {"post": {"operationId": "dashboard-detail-as-feature", "description": "Feature a dashboard.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/DashboardBasic"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/DashboardBasic"}}}, "tags": ["Dashboard"]}, "parameters": [{"name": "slug", "in": "path", "required": true, "type": "string"}]}, "/dashboards/{slug}/remove-as-feature/": {"post": {"operationId": "dashboard-detail-remove-as-feature", "description": "Remove feature a dashboard.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/DashboardBasic"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/DashboardBasic"}}}, "tags": ["Dashboard"]}, "parameters": [{"name": "slug", "in": "path", "required": true, "type": "string"}]}, "/data-browser/": {"get": {"operationId": "data-browser-list", "summary": "List of dashboard.", "description": ":param request: The HTTP request object.\n:type request: HttpRequest\n:param *args: Additional positional arguments.\n:type *args: tuple\n:param **kwargs: Additional keyword arguments.\n:type **kwargs: dict\n:return: The HTTP response containing the list of dashboard data or\n    a bad request response.\n:rtype: HttpResponse", "parameters": [{"name": "page", "in": "query", "description": "Page number in pagination", "type": "integer", "default": 1}, {"name": "page_size", "in": "query", "description": "Total records in a page", "type": "integer", "default": 25}, {"name": "sort", "in": "query", "description": "Fields to be sorted should be specified as a comma-separated list.e.g: sort=name for asc, -sort=name for desc", "required": false, "type": "string"}, {"name": "fields", "in": "query", "description": "Fields to be returned should be specified as a comma-separated list.e.g: fields=__all__ for returning all fields, fields=name,category to return just name and category", "required": false, "type": "string"}, {"name": "indicator_id__in", "in": "query", "description": "Filter data by multiple indicator id. Put multiple filter using comma separator.", "type": "string"}, {"name": "indicator_shortcode__in", "in": "query", "description": "Filter data by multiple indicator shortcode. Put multiple filter using comma separator.", "type": "string"}, {"name": "dataset_uuid__in", "in": "query", "description": "Filter data by multiple reference dataset view uuid. Put multiple filter using comma separator.", "type": "string"}, {"name": "admin_level__in", "in": "query", "description": "Filter data by multiple admin level in number. Put multiple filter using comma separator.", "type": "string"}, {"name": "geom_id__in", "in": "query", "description": "Filter data by multiple geom id. Put multiple filter using comma separator.", "type": "string"}, {"name": "date__gte", "in": "query", "description": "Filter data from the date in format YYYY-MM-DD.", "type": "string"}, {"name": "date__lte", "in": "query", "description": "Filter data up to the date in format YYYY-MM-DD.", "type": "string"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/IndicatorValue"}}}}}}, "tags": ["Data Browser"]}, "parameters": []}, "/groups/": {"get": {"operationId": "group-list", "description": "Return list of accessed group for the user.", "parameters": [{"name": "page", "in": "query", "description": "Page number in pagination", "type": "integer", "default": 1}, {"name": "page_size", "in": "query", "description": "Total records in a page", "type": "integer", "default": 25}, {"name": "sort", "in": "query", "description": "Fields to be sorted should be specified as a comma-separated list.e.g: sort=name for asc, -sort=name for desc", "required": false, "type": "string"}, {"name": "fields", "in": "query", "description": "Fields to be returned should be specified as a comma-separated list.e.g: fields=__all__ for returning all fields, fields=name,category to return just name and category", "required": false, "type": "string"}, {"name": "name__contains", "in": "query", "description": "Filter data by partial name.", "type": "string"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Group"}}}}}}, "tags": ["Group"]}, "post": {"operationId": "group-create", "description": "Create a group.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Group"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Group"}}}, "tags": ["Group"]}, "parameters": []}, "/groups/{id}/": {"get": {"operationId": "group-detail", "description": "Return detailed of group.", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Group"}}}, "tags": ["Group"]}, "put": {"operationId": "group-detail-update", "description": "Replace a detailed of group.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Group"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Group"}}}, "tags": ["Group"]}, "patch": {"operationId": "group-detail-partial-update", "description": "Update just partial data based on payload a detailed of group.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Group"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Group"}}}, "tags": ["Group"]}, "delete": {"operationId": "group-detail-delete", "description": "Delete a group.", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["Group"]}, "parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}]}, "/indicators/": {"get": {"operationId": "indicator-list", "description": "Return list of accessed indicator for the user.", "parameters": [{"name": "page", "in": "query", "description": "Page number in pagination", "type": "integer", "default": 1}, {"name": "page_size", "in": "query", "description": "Total records in a page", "type": "integer", "default": 25}, {"name": "sort", "in": "query", "description": "Fields to be sorted should be specified as a comma-separated list.e.g: sort=name for asc, -sort=name for desc", "required": false, "type": "string"}, {"name": "fields", "in": "query", "description": "Fields to be returned should be specified as a comma-separated list.e.g: fields=__all__ for returning all fields, fields=name,category to return just name and category", "required": false, "type": "string"}, {"name": "name__contains", "in": "query", "description": "Filter data by partial name.", "type": "string"}, {"name": "description__contains", "in": "query", "description": "Filter data by partial description.", "type": "string"}, {"name": "category__name__in", "in": "query", "description": "Filter data by multiple category. Put multiple filter using comma separator.", "type": "string"}, {"name": "type__in", "in": "query", "description": "Filter data by multiple type. Put multiple filter using comma separator.", "type": "string"}, {"name": "project_slug__in", "in": "query", "description": "Filter data by multiple project slug. Put multiple filter using comma separator.", "type": "string"}, {"name": "project_id__in", "in": "query", "description": "Filter data by multiple project id. Put multiple filter using comma separator.", "type": "string"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/IndicatorAdminList"}}}}}}, "tags": ["Indicator"]}, "post": {"operationId": "indicator-create", "description": "Create a indicator.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"description": "Data that is needed to create/edit context layer.", "type": "object", "properties": {"name": {"title": "Name", "type": "string"}, "description": {"title": "Description", "type": "string"}, "source": {"title": "Source", "type": "string"}, "shortcode": {"title": "Shortcode", "type": "string"}, "category": {"title": "Category", "type": "string"}, "unit": {"title": "Unit", "type": "string"}, "type": {"title": "Type", "description": "The choices are ['Float', 'Integer', 'String']", "type": "string"}, "min_value": {"title": "Min value", "type": "integer"}, "max_value": {"title": "Max value", "type": "integer"}, "aggregation_upper_level_allowed": {"title": "Allow aggregation upper level", "type": "boolean"}, "aggregation_upper_level": {"title": "Aggregation upper level", "description": "The choices are ['COUNT', 'SUM(value)', 'MIN(value)', 'MAX(value)', 'AVG(value)', 'MAJORITY(value)', 'MINORITY(value)']", "type": "string"}, "aggregation_multiple_values": {"title": "Aggregation multiple values", "description": "The choices are ['COUNT', 'SUM(value)', 'MIN(value)', 'MAX(value)', 'AVG(value)', 'MAJORITY(value)', 'MINORITY(value)']", "type": "string"}, "style_type": {"title": "Aggregation multiple values", "description": "The choices are ['Dynamic qualitative style.', 'Dynamic quantitative style.', 'Predefined style/color rules.', 'Style from library.']", "type": "string"}, "style_config": {"title": "Styles", "description": "JSON object containing style configuration for dynamic style types. When style_type is DYNAMIC_QUALITATIVE or DYNAMIC_QUANTITATIVE, the following keys are expected: color_palette (int), color_palette_reverse (bool), dynamic_class_num (int), sync_outline (bool), sync_filter (bool), outline_color (str), outline_size (float), dynamic_classification — one of ['Equidistant.', 'Natural breaks.', 'Quantile.', 'Std deviation.', 'Arithmetic progression.', 'Geometric progression.'], and no_data_rule (object with name, rule, color, outline_color, outline_size, active).", "type": "object"}}, "example": {"name": "Indicator", "description": "", "source": "", "shortcode": "INDICATOR", "category": "Test", "unit": "Unit", "type": "Integer", "min_value": 0, "max_value": 100, "aggregation_upper_level_allowed": true, "aggregation_upper_level": "SUM(value)", "aggregation_multiple_values": "SUM(value)", "style_type": "Dynamic quantitative style.", "style_config": {"no_data_rule": {"name": "No data", "rule": "No data", "color": "#D8D8D8", "active": "true", "outline_size": "0.5", "outline_color": "#ffffff"}, "outline_size": 0.5, "sync_outline": false, "color_palette": 3, "outline_color": "#FFFFFF", "dynamic_class_num": "7", "color_palette_reverse": false, "dynamic_classification": "Equidistant."}}}}], "responses": {"201": {"description": "", "schema": {"description": "Data that is needed to create/edit context layer.", "type": "object", "properties": {"name": {"title": "Name", "type": "string"}, "description": {"title": "Description", "type": "string"}, "source": {"title": "Source", "type": "string"}, "shortcode": {"title": "Shortcode", "type": "string"}, "category": {"title": "Category", "type": "string"}, "unit": {"title": "Unit", "type": "string"}, "type": {"title": "Type", "description": "The choices are ['Float', 'Integer', 'String']", "type": "string"}, "min_value": {"title": "Min value", "type": "integer"}, "max_value": {"title": "Max value", "type": "integer"}, "aggregation_upper_level_allowed": {"title": "Allow aggregation upper level", "type": "boolean"}, "aggregation_upper_level": {"title": "Aggregation upper level", "description": "The choices are ['COUNT', 'SUM(value)', 'MIN(value)', 'MAX(value)', 'AVG(value)', 'MAJORITY(value)', 'MINORITY(value)']", "type": "string"}, "aggregation_multiple_values": {"title": "Aggregation multiple values", "description": "The choices are ['COUNT', 'SUM(value)', 'MIN(value)', 'MAX(value)', 'AVG(value)', 'MAJORITY(value)', 'MINORITY(value)']", "type": "string"}, "style_type": {"title": "Aggregation multiple values", "description": "The choices are ['Dynamic qualitative style.', 'Dynamic quantitative style.', 'Predefined style/color rules.', 'Style from library.']", "type": "string"}, "style_config": {"title": "Styles", "description": "JSON object containing style configuration for dynamic style types. When style_type is DYNAMIC_QUALITATIVE or DYNAMIC_QUANTITATIVE, the following keys are expected: color_palette (int), color_palette_reverse (bool), dynamic_class_num (int), sync_outline (bool), sync_filter (bool), outline_color (str), outline_size (float), dynamic_classification — one of ['Equidistant.', 'Natural breaks.', 'Quantile.', 'Std deviation.', 'Arithmetic progression.', 'Geometric progression.'], and no_data_rule (object with name, rule, color, outline_color, outline_size, active).", "type": "object"}}, "example": {"name": "Indicator", "description": "", "source": "", "shortcode": "INDICATOR", "category": "Test", "unit": "Unit", "type": "Integer", "min_value": 0, "max_value": 100, "aggregation_upper_level_allowed": true, "aggregation_upper_level": "SUM(value)", "aggregation_multiple_values": "SUM(value)", "style_type": "Dynamic quantitative style.", "style_config": {"no_data_rule": {"name": "No data", "rule": "No data", "color": "#D8D8D8", "active": "true", "outline_size": "0.5", "outline_color": "#ffffff"}, "outline_size": 0.5, "sync_outline": false, "color_palette": 3, "outline_color": "#FFFFFF", "dynamic_class_num": "7", "color_palette_reverse": false, "dynamic_classification": "Equidistant."}}}}}, "tags": ["Indicator"]}, "parameters": []}, "/indicators/data/": {"get": {"operationId": "indicators-data-list", "description": "Return list of indicators data for the user.", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "Resource fetching successful.", "schema": {"type": "array", "items": {"$ref": "#/definitions/IndicatorValue"}}}}, "tags": ["Indicator"]}, "parameters": []}, "/indicators/{id}/": {"get": {"operationId": "indicator-detail", "description": "Return detailed of indicator.", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/IndicatorAdminList"}}}, "tags": ["Indicator"]}, "put": {"operationId": "indicator-detail-update", "description": "Replace a detailed of indicator.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"description": "Data that is needed to create/edit context layer.", "type": "object", "properties": {"name": {"title": "Name", "type": "string"}, "description": {"title": "Description", "type": "string"}, "source": {"title": "Source", "type": "string"}, "shortcode": {"title": "Shortcode", "type": "string"}, "category": {"title": "Category", "type": "string"}, "unit": {"title": "Unit", "type": "string"}, "type": {"title": "Type", "description": "The choices are ['Float', 'Integer', 'String']", "type": "string"}, "min_value": {"title": "Min value", "type": "integer"}, "max_value": {"title": "Max value", "type": "integer"}, "aggregation_upper_level_allowed": {"title": "Allow aggregation upper level", "type": "boolean"}, "aggregation_upper_level": {"title": "Aggregation upper level", "description": "The choices are ['COUNT', 'SUM(value)', 'MIN(value)', 'MAX(value)', 'AVG(value)', 'MAJORITY(value)', 'MINORITY(value)']", "type": "string"}, "aggregation_multiple_values": {"title": "Aggregation multiple values", "description": "The choices are ['COUNT', 'SUM(value)', 'MIN(value)', 'MAX(value)', 'AVG(value)', 'MAJORITY(value)', 'MINORITY(value)']", "type": "string"}, "style_type": {"title": "Aggregation multiple values", "description": "The choices are ['Dynamic qualitative style.', 'Dynamic quantitative style.', 'Predefined style/color rules.', 'Style from library.']", "type": "string"}, "style_config": {"title": "Styles", "description": "JSON object containing style configuration for dynamic style types. When style_type is DYNAMIC_QUALITATIVE or DYNAMIC_QUANTITATIVE, the following keys are expected: color_palette (int), color_palette_reverse (bool), dynamic_class_num (int), sync_outline (bool), sync_filter (bool), outline_color (str), outline_size (float), dynamic_classification — one of ['Equidistant.', 'Natural breaks.', 'Quantile.', 'Std deviation.', 'Arithmetic progression.', 'Geometric progression.'], and no_data_rule (object with name, rule, color, outline_color, outline_size, active).", "type": "object"}}, "example": {"name": "Indicator", "description": "", "source": "", "shortcode": "INDICATOR", "category": "Test", "unit": "Unit", "type": "Integer", "min_value": 0, "max_value": 100, "aggregation_upper_level_allowed": true, "aggregation_upper_level": "SUM(value)", "aggregation_multiple_values": "SUM(value)", "style_type": "Dynamic quantitative style.", "style_config": {"no_data_rule": {"name": "No data", "rule": "No data", "color": "#D8D8D8", "active": "true", "outline_size": "0.5", "outline_color": "#ffffff"}, "outline_size": 0.5, "sync_outline": false, "color_palette": 3, "outline_color": "#FFFFFF", "dynamic_class_num": "7", "color_palette_reverse": false, "dynamic_classification": "Equidistant."}}}}], "responses": {"200": {"description": "", "schema": {"description": "Data that is needed to create/edit context layer.", "type": "object", "properties": {"name": {"title": "Name", "type": "string"}, "description": {"title": "Description", "type": "string"}, "source": {"title": "Source", "type": "string"}, "shortcode": {"title": "Shortcode", "type": "string"}, "category": {"title": "Category", "type": "string"}, "unit": {"title": "Unit", "type": "string"}, "type": {"title": "Type", "description": "The choices are ['Float', 'Integer', 'String']", "type": "string"}, "min_value": {"title": "Min value", "type": "integer"}, "max_value": {"title": "Max value", "type": "integer"}, "aggregation_upper_level_allowed": {"title": "Allow aggregation upper level", "type": "boolean"}, "aggregation_upper_level": {"title": "Aggregation upper level", "description": "The choices are ['COUNT', 'SUM(value)', 'MIN(value)', 'MAX(value)', 'AVG(value)', 'MAJORITY(value)', 'MINORITY(value)']", "type": "string"}, "aggregation_multiple_values": {"title": "Aggregation multiple values", "description": "The choices are ['COUNT', 'SUM(value)', 'MIN(value)', 'MAX(value)', 'AVG(value)', 'MAJORITY(value)', 'MINORITY(value)']", "type": "string"}, "style_type": {"title": "Aggregation multiple values", "description": "The choices are ['Dynamic qualitative style.', 'Dynamic quantitative style.', 'Predefined style/color rules.', 'Style from library.']", "type": "string"}, "style_config": {"title": "Styles", "description": "JSON object containing style configuration for dynamic style types. When style_type is DYNAMIC_QUALITATIVE or DYNAMIC_QUANTITATIVE, the following keys are expected: color_palette (int), color_palette_reverse (bool), dynamic_class_num (int), sync_outline (bool), sync_filter (bool), outline_color (str), outline_size (float), dynamic_classification — one of ['Equidistant.', 'Natural breaks.', 'Quantile.', 'Std deviation.', 'Arithmetic progression.', 'Geometric progression.'], and no_data_rule (object with name, rule, color, outline_color, outline_size, active).", "type": "object"}}, "example": {"name": "Indicator", "description": "", "source": "", "shortcode": "INDICATOR", "category": "Test", "unit": "Unit", "type": "Integer", "min_value": 0, "max_value": 100, "aggregation_upper_level_allowed": true, "aggregation_upper_level": "SUM(value)", "aggregation_multiple_values": "SUM(value)", "style_type": "Dynamic quantitative style.", "style_config": {"no_data_rule": {"name": "No data", "rule": "No data", "color": "#D8D8D8", "active": "true", "outline_size": "0.5", "outline_color": "#ffffff"}, "outline_size": 0.5, "sync_outline": false, "color_palette": 3, "outline_color": "#FFFFFF", "dynamic_class_num": "7", "color_palette_reverse": false, "dynamic_classification": "Equidistant."}}}}}, "tags": ["Indicator"]}, "patch": {"operationId": "indicator-detail-partial-update", "description": "Update just partial data based on payload a detailed of indicator.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"description": "Data that is needed to create/edit context layer.", "type": "object", "properties": {"name": {"title": "Name", "type": "string"}, "description": {"title": "Description", "type": "string"}, "source": {"title": "Source", "type": "string"}, "shortcode": {"title": "Shortcode", "type": "string"}, "category": {"title": "Category", "type": "string"}, "unit": {"title": "Unit", "type": "string"}, "type": {"title": "Type", "description": "The choices are ['Float', 'Integer', 'String']", "type": "string"}, "min_value": {"title": "Min value", "type": "integer"}, "max_value": {"title": "Max value", "type": "integer"}, "aggregation_upper_level_allowed": {"title": "Allow aggregation upper level", "type": "boolean"}, "aggregation_upper_level": {"title": "Aggregation upper level", "description": "The choices are ['COUNT', 'SUM(value)', 'MIN(value)', 'MAX(value)', 'AVG(value)', 'MAJORITY(value)', 'MINORITY(value)']", "type": "string"}, "aggregation_multiple_values": {"title": "Aggregation multiple values", "description": "The choices are ['COUNT', 'SUM(value)', 'MIN(value)', 'MAX(value)', 'AVG(value)', 'MAJORITY(value)', 'MINORITY(value)']", "type": "string"}, "style_type": {"title": "Aggregation multiple values", "description": "The choices are ['Dynamic qualitative style.', 'Dynamic quantitative style.', 'Predefined style/color rules.', 'Style from library.']", "type": "string"}, "style_config": {"title": "Styles", "description": "JSON object containing style configuration for dynamic style types. When style_type is DYNAMIC_QUALITATIVE or DYNAMIC_QUANTITATIVE, the following keys are expected: color_palette (int), color_palette_reverse (bool), dynamic_class_num (int), sync_outline (bool), sync_filter (bool), outline_color (str), outline_size (float), dynamic_classification — one of ['Equidistant.', 'Natural breaks.', 'Quantile.', 'Std deviation.', 'Arithmetic progression.', 'Geometric progression.'], and no_data_rule (object with name, rule, color, outline_color, outline_size, active).", "type": "object"}}, "example": {"name": "Indicator", "description": "", "source": "", "shortcode": "INDICATOR", "category": "Test", "unit": "Unit", "type": "Integer", "min_value": 0, "max_value": 100, "aggregation_upper_level_allowed": true, "aggregation_upper_level": "SUM(value)", "aggregation_multiple_values": "SUM(value)", "style_type": "Dynamic quantitative style.", "style_config": {"no_data_rule": {"name": "No data", "rule": "No data", "color": "#D8D8D8", "active": "true", "outline_size": "0.5", "outline_color": "#ffffff"}, "outline_size": 0.5, "sync_outline": false, "color_palette": 3, "outline_color": "#FFFFFF", "dynamic_class_num": "7", "color_palette_reverse": false, "dynamic_classification": "Equidistant."}}}}], "responses": {"200": {"description": "", "schema": {"description": "Data that is needed to create/edit context layer.", "type": "object", "properties": {"name": {"title": "Name", "type": "string"}, "description": {"title": "Description", "type": "string"}, "source": {"title": "Source", "type": "string"}, "shortcode": {"title": "Shortcode", "type": "string"}, "category": {"title": "Category", "type": "string"}, "unit": {"title": "Unit", "type": "string"}, "type": {"title": "Type", "description": "The choices are ['Float', 'Integer', 'String']", "type": "string"}, "min_value": {"title": "Min value", "type": "integer"}, "max_value": {"title": "Max value", "type": "integer"}, "aggregation_upper_level_allowed": {"title": "Allow aggregation upper level", "type": "boolean"}, "aggregation_upper_level": {"title": "Aggregation upper level", "description": "The choices are ['COUNT', 'SUM(value)', 'MIN(value)', 'MAX(value)', 'AVG(value)', 'MAJORITY(value)', 'MINORITY(value)']", "type": "string"}, "aggregation_multiple_values": {"title": "Aggregation multiple values", "description": "The choices are ['COUNT', 'SUM(value)', 'MIN(value)', 'MAX(value)', 'AVG(value)', 'MAJORITY(value)', 'MINORITY(value)']", "type": "string"}, "style_type": {"title": "Aggregation multiple values", "description": "The choices are ['Dynamic qualitative style.', 'Dynamic quantitative style.', 'Predefined style/color rules.', 'Style from library.']", "type": "string"}, "style_config": {"title": "Styles", "description": "JSON object containing style configuration for dynamic style types. When style_type is DYNAMIC_QUALITATIVE or DYNAMIC_QUANTITATIVE, the following keys are expected: color_palette (int), color_palette_reverse (bool), dynamic_class_num (int), sync_outline (bool), sync_filter (bool), outline_color (str), outline_size (float), dynamic_classification — one of ['Equidistant.', 'Natural breaks.', 'Quantile.', 'Std deviation.', 'Arithmetic progression.', 'Geometric progression.'], and no_data_rule (object with name, rule, color, outline_color, outline_size, active).", "type": "object"}}, "example": {"name": "Indicator", "description": "", "source": "", "shortcode": "INDICATOR", "category": "Test", "unit": "Unit", "type": "Integer", "min_value": 0, "max_value": 100, "aggregation_upper_level_allowed": true, "aggregation_upper_level": "SUM(value)", "aggregation_multiple_values": "SUM(value)", "style_type": "Dynamic quantitative style.", "style_config": {"no_data_rule": {"name": "No data", "rule": "No data", "color": "#D8D8D8", "active": "true", "outline_size": "0.5", "outline_color": "#ffffff"}, "outline_size": 0.5, "sync_outline": false, "color_palette": 3, "outline_color": "#FFFFFF", "dynamic_class_num": "7", "color_palette_reverse": false, "dynamic_classification": "Equidistant."}}}}}, "tags": ["Indicator"]}, "delete": {"operationId": "indicator-detail-delete", "description": "Delete an indicator.", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["Indicator"]}, "parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}]}, "/indicators/{indicators_id}/data/": {"get": {"operationId": "indicator-data-list", "description": "Return list of indicator data for the user.", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "Resource fetching successful.", "schema": {"type": "array", "items": {"$ref": "#/definitions/IndicatorValue"}}}}, "tags": ["Indicator"]}, "parameters": [{"name": "indicators_id", "in": "path", "required": true, "type": "string"}]}, "/indicators/{indicators_id}/data/{id}/": {"get": {"operationId": "indicator-data-detail", "description": "Return detail of a indicator row for the user.", "parameters": [], "responses": {"200": {"description": "Resource fetching successful.", "schema": {"$ref": "#/definitions/IndicatorValue"}}}, "tags": ["Indicator"]}, "parameters": [{"name": "indicators_id", "in": "path", "required": true, "type": "string"}, {"name": "id", "in": "path", "required": true, "type": "string"}]}, "/reference-datasets/": {"get": {"operationId": "reference-datasets-list", "description": "Return list of accessed reference dataset for the user.", "parameters": [{"name": "page", "in": "query", "description": "Page number in pagination", "type": "integer", "default": 1}, {"name": "page_size", "in": "query", "description": "Total records in a page", "type": "integer", "default": 25}, {"name": "sort", "in": "query", "description": "Fields to be sorted should be specified as a comma-separated list.e.g: sort=name for asc, -sort=name for desc", "required": false, "type": "string"}, {"name": "fields", "in": "query", "description": "Fields to be returned should be specified as a comma-separated list.e.g: fields=__all__ for returning all fields, fields=name,category to return just name and category", "required": false, "type": "string"}, {"name": "name__contains", "in": "query", "description": "Filter data by partial name.", "type": "string"}, {"name": "identifier__in", "in": "query", "description": "Filter data by identifier.", "type": "string"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/ReferenceDataset"}}}}}}, "tags": ["Reference datasets"]}, "parameters": []}, "/reference-datasets/entity/": {"get": {"operationId": "reference-datasets-entity-list", "description": "Return list of accessed entity of reference dataset for the user.", "parameters": [{"name": "page", "in": "query", "description": "Page number in pagination", "type": "integer", "default": 1}, {"name": "page_size", "in": "query", "description": "Total records in a page", "type": "integer", "default": 25}, {"name": "sort", "in": "query", "description": "Fields to be sorted should be specified as a comma-separated list.e.g: sort=name for asc, -sort=name for desc", "required": false, "type": "string"}, {"name": "fields", "in": "query", "description": "Fields to be returned should be specified as a comma-separated list.e.g: fields=__all__ for returning all fields, fields=name,category to return just name and category", "required": false, "type": "string"}, {"name": "name__contains", "in": "query", "description": "Filter data by partial name.", "type": "string"}, {"name": "concept_uuid__in", "in": "query", "description": "Filter data by concept_uuid.", "type": "string"}, {"name": "admin_level__in", "in": "query", "description": "Filter data by multiple admin level in number. Put multiple filter using comma separator.", "type": "string"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/ApiEntity"}}}}}}, "tags": ["Reference datasets"]}, "parameters": []}, "/reference-datasets/entity/{geom_id}/": {"get": {"operationId": "reference-datasets-entity-detail", "description": "Return detailed of entity of reference dataset.", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ApiEntity"}}}, "tags": ["Reference datasets"]}, "parameters": [{"name": "geom_id", "in": "path", "required": true, "type": "string", "pattern": "[^/]+"}]}, "/reference-datasets/{identifier}/": {"get": {"operationId": "reference-datasets-detail", "description": "Return detailed of reference dataset.", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ReferenceDataset"}}}, "tags": ["Reference datasets"]}, "delete": {"operationId": "reference-datasets-detail-delete", "description": "Delete a reference dataset.", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["Reference datasets"]}, "parameters": [{"name": "identifier", "in": "path", "required": true, "type": "string", "pattern": "[0-9A-Fa-f]{8}(-[0-9A-Fa-f]{4}){3}-[0-9A-Fa-f]{12}"}]}, "/reference-datasets/{identifier}/bbox/concept_uuid/": {"post": {"operationId": "reference-datasets-operation-bbox", "description": "Return bbox of reference dataset entities.", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["Reference datasets"]}, "parameters": [{"name": "identifier", "in": "path", "required": true, "type": "string"}]}, "/reference-datasets/{identifier}/bbox/ucode/": {"post": {"operationId": "reference-datasets-operation-bbox", "description": "Return bbox of reference dataset entities.", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["Reference datasets"]}, "parameters": [{"name": "identifier", "in": "path", "required": true, "type": "string"}]}, "/reference-datasets/{identifier}/entity/": {"get": {"operationId": "reference-datasets-detail-entity-list", "description": "Return list of accessed entity of reference dataset for the user.", "parameters": [{"name": "page", "in": "query", "description": "Page number in pagination", "type": "integer", "default": 1}, {"name": "page_size", "in": "query", "description": "Total records in a page", "type": "integer", "default": 25}, {"name": "sort", "in": "query", "description": "Fields to be sorted should be specified as a comma-separated list.e.g: sort=name for asc, -sort=name for desc", "required": false, "type": "string"}, {"name": "fields", "in": "query", "description": "Fields to be returned should be specified as a comma-separated list.e.g: fields=__all__ for returning all fields, fields=name,category to return just name and category", "required": false, "type": "string"}, {"name": "name__contains", "in": "query", "description": "Filter data by partial name.", "type": "string"}, {"name": "concept_uuid__in", "in": "query", "description": "Filter data by concept_uuid.", "type": "string"}, {"name": "admin_level__in", "in": "query", "description": "Filter data by multiple admin level in number. Put multiple filter using comma separator.", "type": "string"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/ApiEntity"}}}}}}, "produces": ["application/geo+json", "application/json"], "tags": ["Reference datasets"]}, "parameters": [{"name": "identifier", "in": "path", "required": true, "type": "string"}]}, "/reference-datasets/{identifier}/entity/{geom_id}/": {"get": {"operationId": "reference-datasets-detail-entity-detail", "description": "Return detailed of entity of reference dataset.", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ApiEntity"}}}, "produces": ["application/geo+json", "application/json"], "tags": ["Reference datasets"]}, "parameters": [{"name": "identifier", "in": "path", "required": true, "type": "string"}, {"name": "geom_id", "in": "path", "required": true, "type": "string", "pattern": "[^/]+"}]}, "/related-tables/": {"get": {"operationId": "related-table-list", "description": "Return list of accessible related tables for the user.", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "Resource fetching successful.", "schema": {"type": "array", "items": {"$ref": "#/definitions/RelatedTableApi"}}}}, "tags": ["Related table"]}, "post": {"operationId": "related-table-create", "description": "Create a related table.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"description": "Data needed to create/edit related tables.", "type": "object", "properties": {"id": {"title": "Id", "type": "integer", "readOnly": true}, "name": {"title": "Name", "type": "string", "readOnly": false}, "fields_definition": {"title": "Fields definition", "type": "array", "items": {"type": "object", "properties": {"name": {"title": "Field name", "type": "string", "readOnly": false}, "label": {"title": "Field label", "type": "string", "readOnly": false}, "type": {"title": "Field type", "type": "string", "pattern": "date | number | string"}}}}, "description": {"title": "Description", "type": "string", "readOnly": false}, "url": {"title": "Url", "type": "string", "readOnly": true}, "creator": {"title": "Creator", "type": "string", "readOnly": true}, "created_at": {"title": "Created at", "type": "string", "readOnly": true}, "modified_at": {"title": "Created at", "type": "string", "readOnly": true}}}}], "responses": {"201": {"description": "", "schema": {"description": "Data needed to create/edit related tables.", "type": "object", "properties": {"id": {"title": "Id", "type": "integer", "readOnly": true}, "name": {"title": "Name", "type": "string", "readOnly": false}, "fields_definition": {"title": "Fields definition", "type": "array", "items": {"type": "object", "properties": {"name": {"title": "Field name", "type": "string", "readOnly": false}, "label": {"title": "Field label", "type": "string", "readOnly": false}, "type": {"title": "Field type", "type": "string", "pattern": "date | number | string"}}}}, "description": {"title": "Description", "type": "string", "readOnly": false}, "url": {"title": "Url", "type": "string", "readOnly": true}, "creator": {"title": "Creator", "type": "string", "readOnly": true}, "created_at": {"title": "Created at", "type": "string", "readOnly": true}, "modified_at": {"title": "Created at", "type": "string", "readOnly": true}}}}}, "tags": ["Related table"]}, "parameters": []}, "/related-tables/{id}/": {"get": {"operationId": "related-table-detail", "description": "Return detail of a related tables for the user.", "parameters": [], "responses": {"200": {"description": "Resource fetching successful.", "schema": {"$ref": "#/definitions/RelatedTableApi"}}}, "tags": ["Related table"]}, "put": {"operationId": "related-table-update", "description": "Update a related table.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"description": "Data needed to create/edit related tables.", "type": "object", "properties": {"id": {"title": "Id", "type": "integer", "readOnly": true}, "name": {"title": "Name", "type": "string", "readOnly": false}, "fields_definition": {"title": "Fields definition", "type": "array", "items": {"type": "object", "properties": {"name": {"title": "Field name", "type": "string", "readOnly": false}, "label": {"title": "Field label", "type": "string", "readOnly": false}, "type": {"title": "Field type", "type": "string", "pattern": "date | number | string"}}}}, "description": {"title": "Description", "type": "string", "readOnly": false}, "url": {"title": "Url", "type": "string", "readOnly": true}, "creator": {"title": "Creator", "type": "string", "readOnly": true}, "created_at": {"title": "Created at", "type": "string", "readOnly": true}, "modified_at": {"title": "Created at", "type": "string", "readOnly": true}}}}], "responses": {"200": {"description": "", "schema": {"description": "Data needed to create/edit related tables.", "type": "object", "properties": {"id": {"title": "Id", "type": "integer", "readOnly": true}, "name": {"title": "Name", "type": "string", "readOnly": false}, "fields_definition": {"title": "Fields definition", "type": "array", "items": {"type": "object", "properties": {"name": {"title": "Field name", "type": "string", "readOnly": false}, "label": {"title": "Field label", "type": "string", "readOnly": false}, "type": {"title": "Field type", "type": "string", "pattern": "date | number | string"}}}}, "description": {"title": "Description", "type": "string", "readOnly": false}, "url": {"title": "Url", "type": "string", "readOnly": true}, "creator": {"title": "Creator", "type": "string", "readOnly": true}, "created_at": {"title": "Created at", "type": "string", "readOnly": true}, "modified_at": {"title": "Created at", "type": "string", "readOnly": true}}}}}, "tags": ["Related table"]}, "patch": {"operationId": "related-table-partial-update", "description": "Update an existing related table.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/RelatedTableApi"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/RelatedTableApi"}}}, "tags": ["Related table"]}, "delete": {"operationId": "related-table-delete", "description": "Delete a related table.", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["Related table"]}, "parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}]}, "/related-tables/{related_tables_id}/data/": {"get": {"operationId": "related-table-data-list", "description": "Return list of related table rows for the user.", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "Resource fetching successful.", "schema": {"type": "array", "items": {"$ref": "#/definitions/RelatedTableRowApi"}}}}, "tags": ["Related table data"]}, "post": {"operationId": "related-table-data-create", "description": "Create related table rows.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"description": "Data needed to create/edit related table rows.", "type": "object", "properties": {"id": {"title": "Id", "type": "integer", "readOnly": true}, "properties": {"title": "Row values", "description": "Keys are field names from fields_definition in the associated related table", "type": "object"}}}}], "responses": {"201": {"description": "", "schema": {"description": "Data needed to create/edit related table rows.", "type": "object", "properties": {"id": {"title": "Id", "type": "integer", "readOnly": true}, "properties": {"title": "Row values", "description": "Keys are field names from fields_definition in the associated related table", "type": "object"}}}}}, "tags": ["Related table data"]}, "parameters": [{"name": "related_tables_id", "in": "path", "required": true, "type": "string"}]}, "/related-tables/{related_tables_id}/data/{id}/": {"get": {"operationId": "related-table-data-detail", "description": "Return detail of a related table row for the user.", "parameters": [], "responses": {"200": {"description": "Resource fetching successful.", "schema": {"$ref": "#/definitions/RelatedTableRowApi"}}}, "tags": ["Related table data"]}, "put": {"operationId": "related-table-data-update", "description": "Update a related table row.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"description": "Data needed to create/edit related table rows.", "type": "object", "properties": {"id": {"title": "Id", "type": "integer", "readOnly": true}, "properties": {"title": "Row values", "description": "Keys are field names from fields_definition in the associated related table", "type": "object"}}}}], "responses": {"200": {"description": "", "schema": {"description": "Data needed to create/edit related table rows.", "type": "object", "properties": {"id": {"title": "Id", "type": "integer", "readOnly": true}, "properties": {"title": "Row values", "description": "Keys are field names from fields_definition in the associated related table", "type": "object"}}}}}, "tags": ["Related table data"]}, "patch": {"operationId": "related-table-data-partial-update", "description": "Update an existing related table row.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/RelatedTableRowApi"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/RelatedTableRowApi"}}}, "tags": ["Related table data"]}, "delete": {"operationId": "related-table-data-delete", "description": "Delete a related table row.", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["Related table data"]}, "parameters": [{"name": "related_tables_id", "in": "path", "required": true, "type": "string"}, {"name": "id", "in": "path", "required": true, "type": "string"}]}, "/related-tables/{related_tables_id}/geo-data/": {"get": {"operationId": "related-table-geo-data-list", "description": "Return list of data with geospatial data.", "parameters": [{"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "offset", "in": "query", "description": "The initial index from which to return the results.", "required": false, "type": "integer"}], "responses": {"200": {"description": "Resource fetching successful."}}, "tags": ["Related table data"]}, "parameters": [{"name": "related_tables_id", "in": "path", "required": true, "type": "string"}]}, "/styles/": {"get": {"operationId": "style-list", "description": "Return list of accessed style for the user.", "parameters": [{"name": "page", "in": "query", "description": "Page number in pagination", "type": "integer", "default": 1}, {"name": "page_size", "in": "query", "description": "Total records in a page", "type": "integer", "default": 25}, {"name": "sort", "in": "query", "description": "Fields to be sorted should be specified as a comma-separated list.e.g: sort=name for asc, -sort=name for desc", "required": false, "type": "string"}, {"name": "fields", "in": "query", "description": "Fields to be returned should be specified as a comma-separated list.e.g: fields=__all__ for returning all fields, fields=name,category to return just name and category", "required": false, "type": "string"}, {"name": "name__contains", "in": "query", "description": "Filter data by partial name.", "type": "string"}, {"name": "description__contains", "in": "query", "description": "Filter data by partial description.", "type": "string"}, {"name": "category__name__in", "in": "query", "description": "Filter data by multiple category. Put multiple filter using comma separator.", "type": "string"}, {"name": "type__in", "in": "query", "description": "Filter data by multiple type. Put multiple filter using comma separator.", "type": "string"}, {"name": "project_slug__in", "in": "query", "description": "Filter data by multiple project slug. Put multiple filter using comma separator.", "type": "string"}, {"name": "project_id__in", "in": "query", "description": "Filter data by multiple project id. Put multiple filter using comma separator.", "type": "string"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Style"}}}}}}, "tags": ["Style"]}, "post": {"operationId": "style-create", "description": "Create a style.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Style"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Style"}}}, "tags": ["Style"]}, "parameters": []}, "/styles/{id}/": {"get": {"operationId": "style-detail", "description": "Return detailed of style.", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Style"}}}, "tags": ["Style"]}, "put": {"operationId": "style-detail-update", "description": "Replace a detailed of style.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Style"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Style"}}}, "tags": ["Style"]}, "patch": {"operationId": "style-detail-partial-update", "description": "Update just partial data based on payload a detailed of style.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Style"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Style"}}}, "tags": ["Style"]}, "delete": {"operationId": "style-detail-delete", "description": "Delete a style.", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["Style"]}, "parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}]}, "/users/": {"get": {"operationId": "user-list", "description": "Return list of accessed user for the user.", "parameters": [{"name": "page", "in": "query", "description": "Page number in pagination", "type": "integer", "default": 1}, {"name": "page_size", "in": "query", "description": "Total records in a page", "type": "integer", "default": 25}, {"name": "sort", "in": "query", "description": "Fields to be sorted should be specified as a comma-separated list.e.g: sort=name for asc, -sort=name for desc", "required": false, "type": "string"}, {"name": "fields", "in": "query", "description": "Fields to be returned should be specified as a comma-separated list.e.g: fields=__all__ for returning all fields, fields=name,category to return just name and category", "required": false, "type": "string"}, {"name": "name__contains", "in": "query", "description": "Filter data by partial name.", "type": "string"}], "responses": {"200": {"description": ""}}, "tags": ["User"]}, "post": {"operationId": "user-create", "description": "Create a user.", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["User"]}, "parameters": []}, "/users/{id}/": {"get": {"operationId": "user-detail", "description": "Return detailed of user.", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["User"]}, "put": {"operationId": "user-detail-update", "description": "Replace a detailed of user.", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["User"]}, "patch": {"operationId": "user-detail-partial-update", "description": "Update just partial data based on payload a detailed of user.", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["User"]}, "delete": {"operationId": "user-detail-delete", "description": "Delete a user.", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["User"]}, "parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}]}}, "definitions": {"BasemapLayer": {"required": ["name"], "type": "object", "properties": {"name": {"title": "Name", "type": "string"}, "description": {"title": "Description", "type": "string"}, "category": {"title": "Category", "type": "string"}, "url": {"title": "Url", "type": "string"}, "type": {"title": "Type", "type": "string"}, "icon": {"title": "Icon", "type": "string"}, "created_at": {"title": "Created at", "type": "string"}, "created_by": {"title": "Creator", "type": "string"}, "permission": {"title": "Permission", "type": "object", "properties": {"list": {"title": "List", "type": "boolean"}, "read": {"title": "Read", "type": "boolean"}, "edit": {"title": "Edit", "type": "boolean"}, "share": {"title": "Share", "type": "boolean"}, "delete": {"title": "Delete", "type": "boolean"}}}}, "title": "BasemapLayer", "example": {"id": 1, "category": "TEST", "created_by": "Admin", "created_at": "2023-01-01T00:00:00.00000Z", "permission": {"list": true, "read": true, "edit": true, "share": true, "delete": true}, "name": "Basemap name 1", "description": "Description", "icon": "http://localhost:2000/media/icons/icon.png", "url": "https://a.tile.openstreetmap.org/{z}/{x}/{y}.png", "type": "XYZ"}}, "Code": {"type": "object", "properties": {"name": {"title": "Name", "type": "string"}, "description": {"title": "Description", "type": "string"}, "value": {"title": "Value", "type": "string"}}, "title": "Code", "example": {"id": 1, "name": "Code name 1", "description": "Description", "value": "TEST"}}, "CodeList": {"required": ["name", "codes"], "type": "object", "properties": {"name": {"title": "Name", "type": "string"}, "description": {"title": "Description", "type": "string"}, "codes": {"title": "Codes", "type": "array", "items": {"type": "object", "properties": {"id": {"title": "Code id", "type": "number"}, "name": {"title": "Code name", "type": "string"}, "value": {"title": "Code value", "type": "string"}}}}}, "title": "Code", "example": {"name": "TEST", "description": "Description", "codes": [{"id": 1, "name": "testcode", "value": "yes"}]}}, "ContextLayer": {"required": ["name"], "type": "object", "properties": {"id": {"title": "ID", "type": "integer", "readOnly": true}, "modified_at": {"title": "Modified at", "type": "string", "readOnly": true}, "created_at": {"title": "Created at", "type": "string", "readOnly": true}, "category": {"title": "Category", "type": "string", "readOnly": true}, "ogc_api": {"title": "Ogc api", "type": "string", "readOnly": true}, "name": {"title": "Name", "type": "string", "maxLength": 512, "minLength": 1}, "description": {"title": "Description", "type": "string", "x-nullable": true}, "source": {"title": "Source", "type": "string", "maxLength": 512, "x-nullable": true}, "layer_type": {"title": "Layer type", "description": "The type of layer for this context layer.<br>For <b>ArcGIS</b>, put feature server of REST. e.g : https://{host}/rest/services/{layer}/FeatureServer/1.<br>For <b>GeoJson</b>, put url of geojson.<br>For <b>Raster tile</b>, put XYZ url.<br>For <b>Raster COG</b>, put url of cog.<br>For <b>Related table</b>, select existing related table name.<br>For <b>Vector tile</b>, put XYZ url.<br>For <b>Cloud native gis layer</b>, select the layer from cloud native gis.", "type": "string", "enum": ["ARCGIS", "Geojson", "Raster Tile", "Raster COG", "Vector Tile", "Related Table", "Cloud Native GIS Layer"]}, "label_config": {"title": "Label config", "type": "object", "x-nullable": true}}}, "DashboardBasic": {"required": ["slug", "name"], "type": "object", "properties": {"id": {"title": "Id", "type": "string", "readOnly": true}, "slug": {"title": "Slug", "type": "string", "format": "slug", "pattern": "^[-a-zA-Z0-9_]+$", "maxLength": 512, "minLength": 1}, "icon": {"title": "Icon", "type": "string", "readOnly": true, "x-nullable": true, "format": "uri"}, "thumbnail": {"title": "Thumbnail", "type": "string", "readOnly": true}, "name": {"title": "Name", "type": "string", "maxLength": 512, "minLength": 1}, "description": {"title": "Description", "type": "string", "x-nullable": true}, "group": {"title": "Group", "type": "string", "readOnly": true}, "category": {"title": "Category", "type": "string", "readOnly": true}, "permission": {"title": "Permission", "type": "string", "readOnly": true}, "reference_layer": {"title": "Reference layer", "description": "Reference layer.", "type": "integer", "x-nullable": true}, "featured": {"title": "Featured", "type": "boolean"}, "created_at": {"title": "Created at", "type": "string", "readOnly": true}, "modified_at": {"title": "Modified at", "type": "string", "readOnly": true}}}, "IndicatorValue": {"required": ["date", "geom_id"], "type": "object", "properties": {"id": {"title": "id", "type": "number"}, "indicator": {"title": "Indicator", "type": "string"}, "indicator_id": {"title": "Indicator id", "type": "number"}, "value": {"title": "Value", "type": "string"}, "date": {"title": "Date", "type": "string"}, "geom_id": {"title": "Geom id", "type": "string"}, "admin_level": {"title": "Entity admin level", "type": "number"}, "entity_name": {"title": "Entity name", "type": "string"}, "country_id": {"title": "Country id", "type": "string"}, "country_geom_id": {"title": "Country geom id", "type": "string"}, "country_name": {"title": "Country name", "type": "string"}, "attributes": {"title": "Attributes", "type": "object"}, "permission": {"title": "Permission", "type": "object", "properties": {"list": {"title": "List", "type": "boolean"}, "read": {"title": "Read", "type": "boolean"}, "edit": {"title": "Edit", "type": "boolean"}, "share": {"title": "Share", "type": "boolean"}, "delete": {"title": "Delete", "type": "boolean"}}}}, "title": "IndicatorValue", "example": {"id": 1, "indicator": "Test indicator", "indicator_id": 1, "indicator_shortcode": "TEST", "value": 0, "date": "1990-01-01", "geom_id": "GEOM_1", "admin_level": 1, "entity_name": "Geometry 1", "country_id": 1, "country_geom_id": "COUNTRY_1", "country_name": "Country 1", "attributes": {"Value 1": 1}, "permission": {"list": true, "read": true, "edit": true, "share": true, "delete": true}}}, "Group": {"required": ["name"], "type": "object", "properties": {"id": {"title": "ID", "type": "integer", "readOnly": true}, "name": {"title": "Name", "type": "string", "maxLength": 150, "minLength": 1}}}, "IndicatorAdminList": {"required": ["name"], "type": "object", "properties": {"id": {"title": "ID", "type": "integer", "readOnly": true}, "name": {"title": "Name", "type": "string", "maxLength": 512, "minLength": 1}, "category": {"title": "Category", "type": "string", "readOnly": true}, "source": {"title": "Source", "type": "string", "maxLength": 512, "x-nullable": true}, "shortcode": {"title": "Shortcode", "description": "A computer-to-computer shortcode for this indicator. For example, an abbreviated name that you might use to refer to it in a spreadsheet column.", "type": "string", "maxLength": 512, "x-nullable": true}, "description": {"title": "Description", "type": "string", "x-nullable": true}, "type": {"title": "Type", "type": "string", "enum": ["Integer", "Float", "String"]}, "min_value": {"title": "Min value", "type": "number", "x-nullable": true}, "max_value": {"title": "Max value", "type": "number", "x-nullable": true}, "aggregation_upper_level_allowed": {"title": "Aggregation upper level allowed", "type": "boolean"}, "aggregation_upper_level": {"title": "Aggregation upper level", "description": "Default aggregation for upper level", "type": "string", "maxLength": 64, "x-nullable": true}, "aggregation_multiple_values": {"title": "Aggregation multiple values", "description": "Default aggregation for multiple values", "type": "string", "maxLength": 64, "x-nullable": true}, "style_type": {"title": "Style type", "type": "string", "enum": ["Predefined style/color rules.", "Dynamic quantitative style.", "Dynamic qualitative style.", "Style from library."]}, "style_config": {"title": "Style config", "type": "object", "x-nullable": true}, "created_at": {"title": "Created at", "type": "string", "readOnly": true}, "modified_at": {"title": "Modified at", "type": "string", "readOnly": true}}}, "ReferenceDataset": {"required": ["identifier"], "type": "object", "properties": {"uuid": {"title": "Uuid", "type": "string", "readOnly": true}, "bbox": {"title": "Bbox", "type": "string", "readOnly": true}, "vector_tiles": {"title": "Vector tiles", "type": "string", "readOnly": true}, "possible_id_types": {"title": "Possible id types", "type": "string", "readOnly": true}, "dataset_levels": {"title": "Dataset levels", "type": "string", "readOnly": true}, "tags": {"title": "Tags", "type": "string", "readOnly": true}, "permission": {"title": "Permission", "type": "string", "readOnly": true}, "countries": {"title": "Countries", "type": "string", "readOnly": true}, "version_data": {"title": "Version data", "type": "string", "format": "date-time"}, "created_at": {"title": "Created at", "type": "string", "format": "date-time"}, "modified_at": {"title": "Modified at", "type": "string", "format": "date-time", "readOnly": true, "x-nullable": true}, "identifier": {"title": "Identifier", "description": "Reference layer identifier.", "type": "string", "maxLength": 256, "minLength": 1}, "name": {"title": "Name", "description": "Reference layer name.", "type": "string", "maxLength": 256, "x-nullable": true}, "description": {"title": "Description", "type": "string", "x-nullable": true}, "in_georepo": {"title": "In georepo", "type": "boolean"}}}, "ApiEntity": {"type": "object", "properties": {"id": {"title": "ID", "type": "integer", "readOnly": true}, "name": {"title": "Name", "description": "label of entity.", "type": "string", "maxLength": 512, "minLength": 1}, "ucode": {"title": "Ucode", "type": "string", "readOnly": true}, "concept_uuid": {"title": "Concept uuid", "description": "This is concept uuid from georepo.", "type": "string", "maxLength": 256, "x-nullable": true}, "admin_level": {"title": "Admin level", "type": "integer", "maximum": 2147483647, "minimum": -2147483648, "x-nullable": true}, "parents": {"title": "Parents", "type": "string", "readOnly": true}, "level_name": {"title": "Level name", "type": "string", "readOnly": true}, "bbox": {"title": "Bbox", "type": "string", "readOnly": true}, "centroid": {"title": "Centroid", "type": "string", "readOnly": true}, "ext_codes": {"title": "Ext codes", "type": "string", "readOnly": true}}}, "RelatedTableFieldApi": {"required": ["name", "label"], "type": "object", "properties": {"name": {"title": "Name", "type": "string", "maxLength": 512, "minLength": 1}, "label": {"title": "Label", "type": "string", "minLength": 1}, "type": {"title": "Type", "type": "string", "enum": ["number", "string", "date"]}}}, "RelatedTableApi": {"required": ["name", "fields_definition"], "type": "object", "properties": {"id": {"title": "Id", "type": "integer", "readOnly": true}, "name": {"title": "Name", "type": "string", "readOnly": false}, "fields_definition": {"title": "Fields definition", "type": "array", "items": {"type": "object", "properties": {"name": {"title": "Field name", "type": "string", "readOnly": false}, "label": {"title": "Field label", "type": "string", "readOnly": false}, "type": {"title": "Field type", "type": "string", "pattern": "date | number | string"}}}}, "description": {"title": "Description", "type": "string", "readOnly": false}, "url": {"title": "Url", "type": "string", "readOnly": true}, "creator": {"title": "Creator", "type": "string", "readOnly": true}, "created_at": {"title": "Created at", "type": "string", "readOnly": true}, "modified_at": {"title": "Created at", "type": "string", "readOnly": true}}, "title": "RelatedTable", "example": {"id": 1, "name": "My related table", "fields_definition": [{"name": "field_1", "label": "Field 1", "type": "string"}, {"name": "field_2", "label": "Field 2", "type": "date"}, {"name": "field_3", "label": "Field 3", "type": "number"}], "description": "A related table for testing apidocs", "url": "https://a.tile.openstreetmap.org/{z}/{x}/{y}.png", "creator": "Admin", "created_at": "2023-01-01T00:00:00.00000Z", "modified_at": "2023-01-01T00:00:00.00000Z"}}, "RelatedTableRowApi": {"required": ["properties"], "type": "object", "properties": {"id": {"title": "Id", "type": "integer", "readOnly": true}, "properties": {"title": "Row values", "description": "Keys are field names from fields_definition in the associated related table", "type": "object"}}, "title": "RelatedTableRow", "example": {"id": 1, "properties": {"field_1": "value_1", "field_2": "2024-02-14T00:00:00Z", "field_3": 42.7}}}, "Style": {"required": ["name"], "type": "object", "properties": {"id": {"title": "ID", "type": "integer", "readOnly": true}, "modified_at": {"title": "Modified at", "type": "string", "readOnly": true}, "created_at": {"title": "Created at", "type": "string", "readOnly": true}, "category": {"title": "Category", "type": "string", "readOnly": true}, "description": {"title": "Description", "type": "string", "x-nullable": true}, "name": {"title": "Name", "type": "string", "maxLength": 512, "minLength": 1}, "style_type": {"title": "Style type", "type": "string", "enum": ["Predefined style/color rules.", "Dynamic quantitative style.", "Dynamic qualitative style."]}}}}}