openapi: 3.2.0
info:
  title: GeoSight Group API
  version: v1.0.0
servers:
- url: https://geosight.unicef.org/api/v1
security:
- ApiKey Auth: []
tags:
- name: Group
paths:
  /groups/:
    parameters: []
    get:
      operationId: group-list
      description: Return list of accessed group for the user.
      parameters:
      - name: page
        in: query
        description: Page number in pagination
        schema:
          type: integer
          default: 1
      - name: page_size
        in: query
        description: Total records in a page
        schema:
          type: integer
          default: 25
      - name: sort
        in: query
        description: 'Fields to be sorted should be specified as a comma-separated list.e.g: sort=name for asc, -sort=name for desc'
        required: false
        schema:
          type: string
      - name: fields
        in: query
        description: 'Fields to be returned should be specified as a comma-separated list.e.g: fields=__all__ for returning all fields, fields=name,category to return just name and category'
        required: false
        schema:
          type: string
      - name: name__contains
        in: query
        description: Filter data by partial name.
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                required:
                - count
                - results
                type: object
                properties:
                  count:
                    type: integer
                  next:
                    type:
                    - string
                    - 'null'
                    format: uri
                  previous:
                    type:
                    - string
                    - 'null'
                    format: uri
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/Group'
      tags:
      - Group
      summary: Group list
      x-summary-source: derived
    post:
      operationId: group-create
      description: Create a group.
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
      tags:
      - Group
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Group'
        required: true
      summary: Group create
      x-summary-source: derived
  /groups/{id}/:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: group-detail
      description: Return detailed of group.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
      tags:
      - Group
      summary: Group detail
      x-summary-source: derived
    put:
      operationId: group-detail-update
      description: Replace a detailed of group.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
      tags:
      - Group
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Group'
        required: true
      summary: Group detail update
      x-summary-source: derived
    patch:
      operationId: group-detail-partial-update
      description: Update just partial data based on payload a detailed of group.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
      tags:
      - Group
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Group'
        required: true
      summary: Group detail partial update
      x-summary-source: derived
    delete:
      operationId: group-detail-delete
      description: Delete a group.
      responses:
        '204':
          description: ''
      tags:
      - Group
      summary: Group detail delete
      x-summary-source: derived
components:
  schemas:
    Group:
      required:
      - name
      type: object
      properties:
        id:
          title: ID
          type: integer
          readOnly: true
        name:
          title: Name
          type: string
          maxLength: 150
          minLength: 1
  securitySchemes:
    ApiKey_Auth:
      type: apiKey
      in: header
      name: Authorization
