openapi: 3.2.0
info:
  title: GeoSight User API
  version: v1.0.0
servers:
- url: https://geosight.unicef.org/api/v1
security:
- ApiKey Auth: []
tags:
- name: User
paths:
  /users/:
    parameters: []
    get:
      operationId: user-list
      description: Return list of accessed user for the user.
      parameters:
      - name: page
        in: query
        description: Page number in pagination
        schema:
          type: integer
          default: 1
      - name: page_size
        in: query
        description: Total records in a page
        schema:
          type: integer
          default: 25
      - name: sort
        in: query
        description: 'Fields to be sorted should be specified as a comma-separated list.e.g: sort=name for asc, -sort=name for desc'
        required: false
        schema:
          type: string
      - name: fields
        in: query
        description: 'Fields to be returned should be specified as a comma-separated list.e.g: fields=__all__ for returning all fields, fields=name,category to return just name and category'
        required: false
        schema:
          type: string
      - name: name__contains
        in: query
        description: Filter data by partial name.
        schema:
          type: string
      responses:
        '200':
          description: ''
      tags:
      - User
      summary: User list
      x-summary-source: derived
    post:
      operationId: user-create
      description: Create a user.
      responses:
        '201':
          description: ''
      tags:
      - User
      summary: User create
      x-summary-source: derived
  /users/{id}/:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: user-detail
      description: Return detailed of user.
      responses:
        '200':
          description: ''
      tags:
      - User
      summary: User detail
      x-summary-source: derived
    put:
      operationId: user-detail-update
      description: Replace a detailed of user.
      responses:
        '200':
          description: ''
      tags:
      - User
      summary: User detail update
      x-summary-source: derived
    patch:
      operationId: user-detail-partial-update
      description: Update just partial data based on payload a detailed of user.
      responses:
        '200':
          description: ''
      tags:
      - User
      summary: User detail partial update
      x-summary-source: derived
    delete:
      operationId: user-detail-delete
      description: Delete a user.
      responses:
        '204':
          description: ''
      tags:
      - User
      summary: User detail delete
      x-summary-source: derived
components:
  securitySchemes:
    ApiKey_Auth:
      type: apiKey
      in: header
      name: Authorization
