openapi: 3.2.0
info:
  title: RDM How Many API
  description: Reference Data Manager API
  termsOfService: None
  contact:
    name: UNICEF
    url: https://data.unicef.org/
    email: data@unicef.org
  version: v2.0
servers:
- url: https://rdmapi.unicef.org
tags:
- name: HowMany
paths:
  /api/howmany:
    post:
      tags:
      - HowMany
      summary: Ask a question in natural language, in English, and get one or more data points…
      operationId: HowMany_PostNewQuestion
      parameters:
      - name: question
        in: query
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiIndResponse'
  /api/howmany/mlt:
    post:
      tags:
      - HowMany
      summary: More like this for answering a question in natural language, in English
      operationId: HowMany_PostMoreLikeThisQuestion
      parameters:
      - name: question
        in: query
        description: The original question, asked before the more like this
        schema:
          type: string
      - name: locationCode
        in: query
        description: The code of the country or region. If null, it means the world
        schema:
          type: string
      - name: indicatorCode
        in: query
        description: The indicator Helix Code, e.g. DM_POP_U18
        schema:
          type: string
      - name: indicatorID
        in: query
        description: The Solr wildcarded ID of a data point, e.g. UNICEF|MNCH|1.0|{ASTERISK}|MNCH_MLRCARE|_T|Y0T4|_T|_T|_T|_T|{ASTERISK}|{ASTERISK}
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiIndResponse'
components:
  schemas:
    ApiIndResponse:
      type: object
      required:
      - numResults
      properties:
        message:
          type: string
        errorCountry:
          type: string
        errorIndicator:
          type: string
        locationDetected:
          type: string
        locationCode:
          type: string
        indicatorDetected:
          type: string
        indicatorCodeDetected:
          type: string
        yearDetected:
          type: string
        similarIndicators:
          type: array
          items:
            $ref: '#/components/schemas/SimpleIndicatorItem'
        numResults:
          type: integer
          format: int32
        spellcheckSuggestions:
          type: array
          items:
            type: string
        indicators:
          type: array
          items:
            $ref: '#/components/schemas/SearchIndicatorItem'
        indicatorsDetected:
          type: array
          items:
            type: string
        indicatorsNoData:
          type: array
          items:
            type: string
    SearchIndicatorItem:
      type: object
      required:
      - score
      properties:
        id:
          type: string
        value:
          type: string
        timeperiod:
          type: string
        location:
          type: string
        locationCode:
          type: string
        attributes:
          type: array
          items:
            type: string
        dimensions:
          type: array
          items:
            type: string
        excludeDims_ms:
          type: array
          items:
            type: string
        source:
          type: string
        dataflow:
          type: string
        indicator:
          type: string
        indicatorName:
          type: string
        sdmx_dataquery:
          type: string
        score:
          type: number
          format: decimal
    SimpleIndicatorItem:
      type: object
      required:
      - score
      properties:
        id:
          type: string
        indicator:
          type: string
        indicatorName:
          type: string
        score:
          type: number
          format: decimal
x-generator: NSwag v14.0.2.0 (NJsonSchema v11.0.0.0 (Newtonsoft.Json v13.0.0.0))
