openapi: 3.2.0
info:
  title: GeoSight Basemap API
  version: v1.0.0
servers:
- url: https://geosight.unicef.org/api/v1
security:
- ApiKey Auth: []
tags:
- name: Basemap
paths:
  /basemaps/:
    parameters: []
    get:
      operationId: basemap-list
      description: Return list of accessed basemap for the user.
      parameters:
      - name: page
        in: query
        description: Page number in pagination
        schema:
          type: integer
          default: 1
      - name: page_size
        in: query
        description: Total records in a page
        schema:
          type: integer
          default: 25
      - name: sort
        in: query
        description: 'Fields to be sorted should be specified as a comma-separated list.e.g: sort=name for asc, -sort=name for desc'
        required: false
        schema:
          type: string
      - name: fields
        in: query
        description: 'Fields to be returned should be specified as a comma-separated list.e.g: fields=__all__ for returning all fields, fields=name,category to return just name and category'
        required: false
        schema:
          type: string
      - name: name__contains
        in: query
        description: Filter data by partial name.
        schema:
          type: string
      - name: description__contains
        in: query
        description: Filter data by partial description.
        schema:
          type: string
      - name: category__name__in
        in: query
        description: Filter data by multiple category. Put multiple filter using comma separator.
        schema:
          type: string
      - name: type__in
        in: query
        description: Filter data by multiple type. Put multiple filter using comma separator.
        schema:
          type: string
      - name: project_slug__in
        in: query
        description: Filter data by multiple project slug. Put multiple filter using comma separator.
        schema:
          type: string
      - name: project_id__in
        in: query
        description: Filter data by multiple project id. Put multiple filter using comma separator.
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                required:
                - count
                - results
                type: object
                properties:
                  count:
                    type: integer
                  next:
                    type:
                    - string
                    - 'null'
                    format: uri
                  previous:
                    type:
                    - string
                    - 'null'
                    format: uri
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/BasemapLayer'
      tags:
      - Basemap
      summary: Basemap list
      x-summary-source: derived
    post:
      operationId: basemap-create
      description: Create a basemap.
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                description: Data that is needed to create/edit basemap.
                type: object
                properties:
                  name:
                    title: Name
                    type: string
                  description:
                    title: Description
                    type: string
                  category:
                    title: Category
                    type: string
                  url:
                    title: Url
                    type: string
                  type:
                    title: Type
                    description: The choices are [['XYZ Tile', 'WMS']]
                    type: string
      tags:
      - Basemap
      requestBody:
        content:
          application/json:
            schema:
              description: Data that is needed to create/edit basemap.
              type: object
              properties:
                name:
                  title: Name
                  type: string
                description:
                  title: Description
                  type: string
                category:
                  title: Category
                  type: string
                url:
                  title: Url
                  type: string
                type:
                  title: Type
                  description: The choices are [['XYZ Tile', 'WMS']]
                  type: string
        required: true
      summary: Basemap create
      x-summary-source: derived
  /basemaps/{id}/:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: basemap-detail
      description: Return detailed of basemap.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasemapLayer'
      tags:
      - Basemap
      summary: Basemap detail
      x-summary-source: derived
    put:
      operationId: basemap-detail-update
      description: Replace a detailed of basemap.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                description: Data that is needed to create/edit basemap.
                type: object
                properties:
                  name:
                    title: Name
                    type: string
                  description:
                    title: Description
                    type: string
                  category:
                    title: Category
                    type: string
                  url:
                    title: Url
                    type: string
                  type:
                    title: Type
                    description: The choices are [['XYZ Tile', 'WMS']]
                    type: string
      tags:
      - Basemap
      requestBody:
        content:
          application/json:
            schema:
              description: Data that is needed to create/edit basemap.
              type: object
              properties:
                name:
                  title: Name
                  type: string
                description:
                  title: Description
                  type: string
                category:
                  title: Category
                  type: string
                url:
                  title: Url
                  type: string
                type:
                  title: Type
                  description: The choices are [['XYZ Tile', 'WMS']]
                  type: string
        required: true
      summary: Basemap detail update
      x-summary-source: derived
    patch:
      operationId: basemap-detail-partial-update
      description: Update just partial data based on payload a detailed of basemap.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                description: Data that is needed to create/edit basemap.
                type: object
                properties:
                  name:
                    title: Name
                    type: string
                  description:
                    title: Description
                    type: string
                  category:
                    title: Category
                    type: string
                  url:
                    title: Url
                    type: string
                  type:
                    title: Type
                    description: The choices are [['XYZ Tile', 'WMS']]
                    type: string
      tags:
      - Basemap
      requestBody:
        content:
          application/json:
            schema:
              description: Data that is needed to create/edit basemap.
              type: object
              properties:
                name:
                  title: Name
                  type: string
                description:
                  title: Description
                  type: string
                category:
                  title: Category
                  type: string
                url:
                  title: Url
                  type: string
                type:
                  title: Type
                  description: The choices are [['XYZ Tile', 'WMS']]
                  type: string
        required: true
      summary: Basemap detail partial update
      x-summary-source: derived
    delete:
      operationId: basemap-detail-delete
      description: Delete a basemap.
      responses:
        '204':
          description: ''
      tags:
      - Basemap
      summary: Basemap detail delete
      x-summary-source: derived
components:
  schemas:
    BasemapLayer:
      required:
      - name
      type: object
      properties:
        name:
          title: Name
          type: string
        description:
          title: Description
          type: string
        category:
          title: Category
          type: string
        url:
          title: Url
          type: string
        type:
          title: Type
          type: string
        icon:
          title: Icon
          type: string
        created_at:
          title: Created at
          type: string
        created_by:
          title: Creator
          type: string
        permission:
          title: Permission
          type: object
          properties:
            list:
              title: List
              type: boolean
            read:
              title: Read
              type: boolean
            edit:
              title: Edit
              type: boolean
            share:
              title: Share
              type: boolean
            delete:
              title: Delete
              type: boolean
      title: BasemapLayer
      example:
        id: 1
        category: TEST
        created_by: Admin
        created_at: '2023-01-01T00:00:00.00000Z'
        permission:
          list: true
          read: true
          edit: true
          share: true
          delete: true
        name: Basemap name 1
        description: Description
        icon: http://localhost:2000/media/icons/icon.png
        url: https://a.tile.openstreetmap.org/{z}/{x}/{y}.png
        type: XYZ
  securitySchemes:
    ApiKey_Auth:
      type: apiKey
      in: header
      name: Authorization
