openapi: 3.2.0
info:
  title: GeoSight Dashboard API
  version: v1.0.0
servers:
- url: https://geosight.unicef.org/api/v1
security:
- ApiKey Auth: []
tags:
- name: Dashboard
paths:
  /dashboards/:
    parameters: []
    get:
      operationId: dashboard-list
      description: Return list of accessed dashboard for the user.
      parameters:
      - name: page
        in: query
        description: Page number in pagination
        schema:
          type: integer
          default: 1
      - name: page_size
        in: query
        description: Total records in a page
        schema:
          type: integer
          default: 25
      - name: sort
        in: query
        description: 'Fields to be sorted should be specified as a comma-separated list.e.g: sort=name for asc, -sort=name for desc'
        required: false
        schema:
          type: string
      - name: fields
        in: query
        description: 'Fields to be returned should be specified as a comma-separated list.e.g: fields=__all__ for returning all fields, fields=name,category to return just name and category'
        required: false
        schema:
          type: string
      - name: name__contains
        in: query
        description: Filter data by partial name.
        schema:
          type: string
      - name: description__contains
        in: query
        description: Filter data by partial description.
        schema:
          type: string
      - name: category__name__in
        in: query
        description: Filter data by multiple category. Put multiple filter using comma separator.
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                required:
                - count
                - results
                type: object
                properties:
                  count:
                    type: integer
                  next:
                    type:
                    - string
                    - 'null'
                    format: uri
                  previous:
                    type:
                    - string
                    - 'null'
                    format: uri
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/DashboardBasic'
      tags:
      - Dashboard
      summary: Dashboard list
      x-summary-source: derived
  /dashboards/groups/:
    parameters: []
    get:
      operationId: dashboard-group-list
      description: List dashboard groups.
      parameters:
      - name: page
        in: query
        description: A page number within the paginated result set.
        required: false
        schema:
          type: integer
      - name: page_size
        in: query
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                required:
                - count
                - results
                type: object
                properties:
                  count:
                    type: integer
                  next:
                    type:
                    - string
                    - 'null'
                    format: uri
                  previous:
                    type:
                    - string
                    - 'null'
                    format: uri
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/DashboardBasic'
      tags:
      - Dashboard
      summary: Dashboard group list
      x-summary-source: derived
  /dashboards/{slug}/:
    parameters:
    - name: slug
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: dashboard-detail
      description: Return detailed of dashboard.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DashboardBasic'
      tags:
      - Dashboard
      summary: Dashboard detail
      x-summary-source: derived
    delete:
      operationId: dashboard-detail-delete
      description: Delete a dashboard.
      responses:
        '204':
          description: ''
      tags:
      - Dashboard
      summary: Dashboard detail delete
      x-summary-source: derived
  /dashboards/{slug}/as-feature/:
    parameters:
    - name: slug
      in: path
      required: true
      schema:
        type: string
    post:
      operationId: dashboard-detail-as-feature
      description: Feature a dashboard.
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DashboardBasic'
      tags:
      - Dashboard
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DashboardBasic'
        required: true
      summary: Dashboard detail as feature
      x-summary-source: derived
  /dashboards/{slug}/remove-as-feature/:
    parameters:
    - name: slug
      in: path
      required: true
      schema:
        type: string
    post:
      operationId: dashboard-detail-remove-as-feature
      description: Remove feature a dashboard.
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DashboardBasic'
      tags:
      - Dashboard
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DashboardBasic'
        required: true
      summary: Dashboard detail remove as feature
      x-summary-source: derived
components:
  schemas:
    DashboardBasic:
      required:
      - slug
      - name
      type: object
      properties:
        id:
          title: Id
          type: string
          readOnly: true
        slug:
          title: Slug
          type: string
          format: slug
          pattern: ^[-a-zA-Z0-9_]+$
          maxLength: 512
          minLength: 1
        icon:
          title: Icon
          type:
          - string
          - 'null'
          readOnly: true
          format: uri
        thumbnail:
          title: Thumbnail
          type: string
          readOnly: true
        name:
          title: Name
          type: string
          maxLength: 512
          minLength: 1
        description:
          title: Description
          type:
          - string
          - 'null'
        group:
          title: Group
          type: string
          readOnly: true
        category:
          title: Category
          type: string
          readOnly: true
        permission:
          title: Permission
          type: string
          readOnly: true
        reference_layer:
          title: Reference layer
          description: Reference layer.
          type:
          - integer
          - 'null'
        featured:
          title: Featured
          type: boolean
        created_at:
          title: Created at
          type: string
          readOnly: true
        modified_at:
          title: Modified at
          type: string
          readOnly: true
  securitySchemes:
    ApiKey_Auth:
      type: apiKey
      in: header
      name: Authorization
