openapi: 3.2.0
info:
  title: RDM Sector API
  description: Reference Data Manager API
  termsOfService: None
  contact:
    name: UNICEF
    url: https://data.unicef.org/
    email: data@unicef.org
  version: v2.0
servers:
- url: https://rdmapi.unicef.org
tags:
- name: Sector
paths:
  /api/sectors/agencies:
    get:
      tags:
      - Sector
      summary: Get the list of all agencies that contribute to RDM
      operationId: Sector_GetAgencies
      responses:
        '200':
          description: The list of all agencies that contribute to RDM, e.g. UNICEF, UNSD, WB
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CountryOrganization'
  /api/sectors:
    get:
      tags:
      - Sector
      summary: Get the list of all DAIU Technical Sectors
      operationId: Sector_GetSectors
      responses:
        '200':
          description: The list of all DAIU Technical Sectors
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SectorItem'
  /api/sectors/domains:
    get:
      tags:
      - Sector
      summary: Get the list of all domains of DAIU Technical Sectors
      operationId: Sector_GetDomains
      responses:
        '200':
          description: The list of all domains of DAIU Technical Sectors
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DomainItem'
  /api/sectors/subdomains:
    get:
      tags:
      - Sector
      summary: Get the list of all subdomains of DAIU Technical Sectors
      operationId: Sector_GetSubDomains
      responses:
        '200':
          description: The list of all subdomains of DAIU Technical Sectors
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubdomainItem'
components:
  schemas:
    Custodian:
      type: object
      required:
      - custodianId
      - editedDate
      properties:
        custodianId:
          type: integer
          format: int32
        name:
          type: string
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
        code:
          type: string
        indicator2Custodians:
          type: array
          items:
            $ref: '#/components/schemas/Indicator2Custodian'
        indicator2DataCompilers:
          type: array
          items:
            $ref: '#/components/schemas/Indicator2DataCompiler'
        indicator2DataProviders:
          type: array
          items:
            $ref: '#/components/schemas/Indicator2DataProvider'
        indicators:
          type: array
          items:
            $ref: '#/components/schemas/Indicator'
        regionSeries2Custodians:
          type: array
          items:
            $ref: '#/components/schemas/RegionSeries2Custodian'
    CountryName:
      type: object
      required:
      - countryNameId
      - countryId
      - languageId
      properties:
        countryNameId:
          type: integer
          format: int32
        countryId:
          type: integer
          format: int32
        languageId:
          type: integer
          format: int32
        value:
          type: string
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        organizationId:
          type: integer
          format: int32
        country:
          $ref: '#/components/schemas/Country'
        language:
          $ref: '#/components/schemas/Language'
        organization:
          $ref: '#/components/schemas/CountryOrganization'
    Indicator2Custodian:
      type: object
      required:
      - id
      - indicatorId
      - custodianId
      properties:
        id:
          type: integer
          format: int32
        indicatorId:
          type: integer
          format: int32
        custodianId:
          type: integer
          format: int32
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        custodian:
          $ref: '#/components/schemas/Custodian'
        indicator:
          $ref: '#/components/schemas/Indicator'
    YearAssignmentMethod:
      type: object
      required:
      - yamid
      properties:
        yamid:
          type: integer
          format: int32
        name:
          type: string
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
        code:
          type: string
        indicators:
          type: array
          items:
            $ref: '#/components/schemas/Indicator'
    Indicator2Classification:
      type: object
      required:
      - id
      - indicatorId
      - classificationId
      properties:
        id:
          type: integer
          format: int32
        indicatorId:
          type: integer
          format: int32
        classificationId:
          type: integer
          format: int32
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        value:
          type: string
        classification:
          $ref: '#/components/schemas/IndicatorClassification'
        indicator:
          $ref: '#/components/schemas/Indicator'
    Country2SectorPriority:
      type: object
      required:
      - id
      - countryId
      - sectorId
      properties:
        id:
          type: integer
          format: int64
        countryId:
          type: integer
          format: int32
        sectorId:
          type: integer
          format: int32
        country:
          $ref: '#/components/schemas/Country'
        sector:
          $ref: '#/components/schemas/Sector'
    SubdomainItem:
      type: object
      required:
      - subdomainId
      - sectorId
      - domainId
      properties:
        subdomainId:
          type: integer
          format: int32
        sectorId:
          type: integer
          format: int32
        sectorName:
          type: string
        domainId:
          type: integer
          format: int32
        domainName:
          type: string
        name:
          type: string
        shortName:
          type: string
        createdBy:
          type: string
        createdDate:
          type: string
    Country:
      type: object
      required:
      - countryId
      - createdDate
      properties:
        countryId:
          type: integer
          format: int32
        iso3:
          type: string
        m49:
          type: string
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        cndcountryCode:
          type: string
        isCurrent:
          type: boolean
        isSowc:
          type: boolean
        isCountDown:
          type: boolean
        isPublished:
          type: boolean
        country2Regions:
          type: array
          items:
            $ref: '#/components/schemas/Country2Region'
        country2SectorPriorities:
          type: array
          items:
            $ref: '#/components/schemas/Country2SectorPriority'
        countryNames:
          type: array
          items:
            $ref: '#/components/schemas/CountryName'
    IndicatorSimpleAttributeValue:
      type: object
      required:
      - indicatorSimpleAttributeValueId
      - indicatorId
      - attributeId
      - languageId
      - version
      properties:
        indicatorSimpleAttributeValueId:
          type: integer
          format: int32
        indicatorId:
          type: integer
          format: int32
        attributeId:
          type: integer
          format: int32
        languageId:
          type: integer
          format: int32
        version:
          type: string
          format: date-time
        value:
          type: string
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        attribute:
          $ref: '#/components/schemas/IndicatorSimpleAttribute'
        indicator:
          $ref: '#/components/schemas/Indicator'
        language:
          $ref: '#/components/schemas/Language'
    Indicator2DataCompiler:
      type: object
      required:
      - id
      - indicatorId
      - dataCompilerId
      properties:
        id:
          type: integer
          format: int32
        indicatorId:
          type: integer
          format: int32
        dataCompilerId:
          type: integer
          format: int32
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        dataCompiler:
          $ref: '#/components/schemas/Custodian'
        indicator:
          $ref: '#/components/schemas/Indicator'
    DataSource:
      type: object
      required:
      - id
      properties:
        id:
          type: integer
          format: int64
        sourceName:
          type: string
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        indicator2DataSources:
          type: array
          items:
            $ref: '#/components/schemas/Indicator2DataSource'
    RelatedIndicator:
      type: object
      required:
      - id
      - indicatorId
      - targetIndicatorId
      - createdDate
      properties:
        id:
          type: integer
          format: int64
        indicatorId:
          type: integer
          format: int32
        targetIndicatorId:
          type: integer
          format: int32
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        indicator:
          $ref: '#/components/schemas/Indicator'
        targetIndicator:
          $ref: '#/components/schemas/Indicator'
    RegionSeries2Custodian:
      type: object
      required:
      - regionSeries2CustodianId
      - regionSeriesId
      - custodianId
      - createdDate
      properties:
        regionSeries2CustodianId:
          type: integer
          format: int32
        regionSeriesId:
          type: integer
          format: int32
        custodianId:
          type: integer
          format: int32
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        custodian:
          $ref: '#/components/schemas/Custodian'
        regionSeries:
          $ref: '#/components/schemas/RegionSeries'
    Subdomain:
      type: object
      required:
      - subdomainId
      - editedDate
      - domainId
      properties:
        subdomainId:
          type: integer
          format: int32
        name:
          type: string
        shortName:
          type: string
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
        domainId:
          type: integer
          format: int32
        domain:
          $ref: '#/components/schemas/Domain'
        indicators:
          type: array
          items:
            $ref: '#/components/schemas/Indicator'
    SectorItem:
      type: object
      required:
      - sectorId
      properties:
        sectorId:
          type: integer
          format: int32
        name:
          type: string
        shortName:
          type: string
        helixName:
          type: string
        domains:
          type: array
          items:
            $ref: '#/components/schemas/DomainItem'
        editedBy:
          type: string
        editedDate:
          type: string
        agencies:
          type: array
          items:
            type: string
        agenciesId:
          type: array
          items:
            type: integer
            format: int32
    StrategicPlanStatement:
      type: object
      required:
      - id
      - editedDate
      properties:
        id:
          type: integer
          format: int32
        code:
          type: string
        statement:
          type: string
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
        spareaId:
          type: integer
          format: int32
        indicators:
          type: array
          items:
            $ref: '#/components/schemas/Indicator'
        sparea:
          $ref: '#/components/schemas/StrategicPlan'
    StrategicPlan:
      type: object
      required:
      - id
      - editedDate
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
        description:
          type: string
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
        code:
          type: string
        indicators:
          type: array
          items:
            $ref: '#/components/schemas/Indicator'
        strategicPlanStatements:
          type: array
          items:
            $ref: '#/components/schemas/StrategicPlanStatement'
    User:
      type: object
      required:
      - userId
      - isAdministrator
      - isActive
      - isAgencyAdmin
      properties:
        userId:
          type: integer
          format: int32
        username:
          type: string
        fullname:
          type: string
        isAdministrator:
          type: boolean
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
        isActive:
          type: boolean
        division:
          type: string
        agency:
          type: integer
          format: int32
        isAgencyAdmin:
          type: boolean
        agencyNavigation:
          $ref: '#/components/schemas/CountryOrganization'
        user2Sectors:
          type: array
          items:
            $ref: '#/components/schemas/User2Sector'
    Tag:
      type: object
      required:
      - id
      properties:
        id:
          type: integer
          format: int64
        tagName:
          type: string
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        tags2Indicators:
          type: array
          items:
            $ref: '#/components/schemas/Tags2Indicator'
    IndicatorFile:
      type: object
      required:
      - id
      - indicator
      - uploadedDate
      properties:
        id:
          type: integer
          format: int64
        fileName:
          type: string
        originalFileName:
          type: string
        title:
          type: string
        description:
          type: string
        indicator:
          type: integer
          format: int32
        attribute:
          type: integer
          format: int32
        idDeleted:
          type: boolean
        uploadedBy:
          type: string
        uploadedDate:
          type: string
          format: date-time
        attributeNavigation:
          $ref: '#/components/schemas/IndicatorSimpleAttribute'
        indicatorNavigation:
          $ref: '#/components/schemas/Indicator'
    IndicatorClassification:
      type: object
      required:
      - iclassId
      - editedDate
      properties:
        iclassId:
          type: integer
          format: int32
        name:
          type: string
        type:
          type: string
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
        code:
          type: string
        indicator2Classifications:
          type: array
          items:
            $ref: '#/components/schemas/Indicator2Classification'
    DomainItem:
      type: object
      required:
      - domainId
      - sectorId
      properties:
        domainId:
          type: integer
          format: int32
        sectorId:
          type: integer
          format: int32
        sectorName:
          type: string
        name:
          type: string
        shortName:
          type: string
        subdomains:
          type: array
          items:
            $ref: '#/components/schemas/SubdomainItem'
        createdBy:
          type: string
        createdDate:
          type: string
    Sector:
      type: object
      required:
      - sectorId
      properties:
        sectorId:
          type: integer
          format: int32
        name:
          type: string
        shortName:
          type: string
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
        helixName:
          type: string
        country2SectorPriorities:
          type: array
          items:
            $ref: '#/components/schemas/Country2SectorPriority'
        domains:
          type: array
          items:
            $ref: '#/components/schemas/Domain'
        sector2Agencies:
          type: array
          items:
            $ref: '#/components/schemas/Sector2Agency'
        user2Sectors:
          type: array
          items:
            $ref: '#/components/schemas/User2Sector'
    Indicator2DataProvider:
      type: object
      required:
      - id
      - indicatorId
      - dataProviderId
      properties:
        id:
          type: integer
          format: int32
        indicatorId:
          type: integer
          format: int32
        dataProviderId:
          type: integer
          format: int32
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        dataProvider:
          $ref: '#/components/schemas/Custodian'
        indicator:
          $ref: '#/components/schemas/Indicator'
    IndicatorQuestion:
      type: object
      required:
      - id
      - indicatorId
      - createdDate
      properties:
        id:
          type: integer
          format: int64
        indicatorId:
          type: integer
          format: int32
        question:
          type: string
        dwDataPointId:
          type: string
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        indicator:
          $ref: '#/components/schemas/Indicator'
    IndicatorSimpleAttribute:
      type: object
      required:
      - attributeId
      - hasTranslation
      - editedDate
      properties:
        attributeId:
          type: integer
          format: int32
        code:
          type: string
        name:
          type: string
        displayName:
          type: string
        hasTranslation:
          type: boolean
        weight:
          type: integer
          format: int32
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
        definition:
          type: string
        indicatorFiles:
          type: array
          items:
            $ref: '#/components/schemas/IndicatorFile'
        indicatorSimpleAttributeValues:
          type: array
          items:
            $ref: '#/components/schemas/IndicatorSimpleAttributeValue'
    RegionCollection:
      type: object
      required:
      - regionCollectionId
      - createdDate
      properties:
        regionCollectionId:
          type: integer
          format: int32
        name:
          type: string
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        code:
          type: string
        regions:
          type: array
          items:
            $ref: '#/components/schemas/Region'
    User2Sector:
      type: object
      required:
      - id
      - userId
      - sectorId
      - createdDate
      properties:
        id:
          type: integer
          format: int64
        userId:
          type: integer
          format: int32
        sectorId:
          type: integer
          format: int32
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        sector:
          $ref: '#/components/schemas/Sector'
        user:
          $ref: '#/components/schemas/User'
    Indicator2Agency:
      type: object
      required:
      - id
      - indicatorId
      - agencyId
      - createdDate
      properties:
        id:
          type: integer
          format: int64
        indicatorId:
          type: integer
          format: int32
        agencyId:
          type: integer
          format: int32
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        agency:
          $ref: '#/components/schemas/CountryOrganization'
        indicator:
          $ref: '#/components/schemas/Indicator'
    Indicator:
      type: object
      required:
      - indicatorId
      - createdDate
      - isPublished
      - isDeleted
      properties:
        indicatorId:
          type: integer
          format: int32
        code:
          type: string
        collectionMechanismId:
          type: integer
          format: int32
        yamid:
          type: integer
          format: int32
        subdomainId:
          type: integer
          format: int32
        domainId:
          type: integer
          format: int32
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
        helixCode:
          type: string
        isPublished:
          type: boolean
        changePublishedBy:
          type: string
        changePublishedDate:
          type: string
          format: date-time
        isDeleted:
          type: boolean
        strategicPlanId:
          type: integer
          format: int32
        indType:
          type: integer
          format: int64
        strategicPlanStatementId:
          type: integer
          format: int32
        custodian:
          type: integer
          format: int32
        ownerAgency:
          type: integer
          format: int32
        parentIndicatorId:
          type: integer
          format: int32
        collectionMechanism:
          $ref: '#/components/schemas/CollectionMechanism'
        custodianNavigation:
          $ref: '#/components/schemas/Custodian'
        domain:
          $ref: '#/components/schemas/Domain'
        indTypeNavigation:
          $ref: '#/components/schemas/IndicatorType'
        indicator2Agencies:
          type: array
          items:
            $ref: '#/components/schemas/Indicator2Agency'
        indicator2Classifications:
          type: array
          items:
            $ref: '#/components/schemas/Indicator2Classification'
        indicator2Custodians:
          type: array
          items:
            $ref: '#/components/schemas/Indicator2Custodian'
        indicator2DataCompilers:
          type: array
          items:
            $ref: '#/components/schemas/Indicator2DataCompiler'
        indicator2DataProviders:
          type: array
          items:
            $ref: '#/components/schemas/Indicator2DataProvider'
        indicator2DataSources:
          type: array
          items:
            $ref: '#/components/schemas/Indicator2DataSource'
        indicatorFiles:
          type: array
          items:
            $ref: '#/components/schemas/IndicatorFile'
        indicatorQuestions:
          type: array
          items:
            $ref: '#/components/schemas/IndicatorQuestion'
        indicatorSimpleAttributeValues:
          type: array
          items:
            $ref: '#/components/schemas/IndicatorSimpleAttributeValue'
        inverseParentIndicator:
          type: array
          items:
            $ref: '#/components/schemas/Indicator'
        ownerAgencyNavigation:
          $ref: '#/components/schemas/CountryOrganization'
        parentIndicator:
          $ref: '#/components/schemas/Indicator'
        relatedIndicatorIndicators:
          type: array
          items:
            $ref: '#/components/schemas/RelatedIndicator'
        relatedIndicatorTargetIndicators:
          type: array
          items:
            $ref: '#/components/schemas/RelatedIndicator'
        strategicPlan:
          $ref: '#/components/schemas/StrategicPlan'
        strategicPlanStatement:
          $ref: '#/components/schemas/StrategicPlanStatement'
        subdomain:
          $ref: '#/components/schemas/Subdomain'
        tags2Indicators:
          type: array
          items:
            $ref: '#/components/schemas/Tags2Indicator'
        yam:
          $ref: '#/components/schemas/YearAssignmentMethod'
    Indicator2DataSource:
      type: object
      required:
      - id
      - indicatorId
      - dataSourceId
      - createdDate
      properties:
        id:
          type: integer
          format: int64
        indicatorId:
          type: integer
          format: int32
        dataSourceId:
          type: integer
          format: int64
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        dataSource:
          $ref: '#/components/schemas/DataSource'
        indicator:
          $ref: '#/components/schemas/Indicator'
    Tags2Indicator:
      type: object
      required:
      - id
      - indicatorId
      - tagId
      - createdDate
      properties:
        id:
          type: integer
          format: int64
        indicatorId:
          type: integer
          format: int32
        tagId:
          type: integer
          format: int64
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        indicator:
          $ref: '#/components/schemas/Indicator'
        tag:
          $ref: '#/components/schemas/Tag'
    IndicatorType:
      type: object
      required:
      - id
      properties:
        id:
          type: integer
          format: int64
        typeName:
          type: string
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        indicators:
          type: array
          items:
            $ref: '#/components/schemas/Indicator'
    CollectionMechanism:
      type: object
      required:
      - collectionMechanismId
      - editedDate
      properties:
        collectionMechanismId:
          type: integer
          format: int32
        name:
          type: string
        description:
          type: string
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
        code:
          type: string
        dataRelease:
          type: string
        dataCollection:
          type: string
        indicators:
          type: array
          items:
            $ref: '#/components/schemas/Indicator'
    Language:
      type: object
      required:
      - languageId
      properties:
        languageId:
          type: integer
          format: int32
        name:
          type: string
        iso6392:
          type: string
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
        countryNames:
          type: array
          items:
            $ref: '#/components/schemas/CountryName'
        indicatorSimpleAttributeValues:
          type: array
          items:
            $ref: '#/components/schemas/IndicatorSimpleAttributeValue'
        regionNames:
          type: array
          items:
            $ref: '#/components/schemas/RegionName'
    RegionName:
      type: object
      required:
      - id
      - regionId
      - languageId
      - createdDate
      properties:
        id:
          type: integer
          format: int32
        regionId:
          type: integer
          format: int32
        languageId:
          type: integer
          format: int32
        value:
          type: string
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        language:
          $ref: '#/components/schemas/Language'
        region:
          $ref: '#/components/schemas/Region'
    CountryOrganization:
      type: object
      required:
      - id
      properties:
        id:
          type: integer
          format: int32
        organization:
          type: string
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
        code:
          type: string
        countryNames:
          type: array
          items:
            $ref: '#/components/schemas/CountryName'
        indicator2Agencies:
          type: array
          items:
            $ref: '#/components/schemas/Indicator2Agency'
        indicators:
          type: array
          items:
            $ref: '#/components/schemas/Indicator'
        sector2Agencies:
          type: array
          items:
            $ref: '#/components/schemas/Sector2Agency'
        users:
          type: array
          items:
            $ref: '#/components/schemas/User'
    Domain:
      type: object
      required:
      - domainId
      - sectorId
      properties:
        domainId:
          type: integer
          format: int32
        name:
          type: string
        shortName:
          type: string
        editedBy:
          type: string
        editedDate:
          type: string
          format: date-time
        sectorId:
          type: integer
          format: int32
        indicators:
          type: array
          items:
            $ref: '#/components/schemas/Indicator'
        sector:
          $ref: '#/components/schemas/Sector'
        subdomains:
          type: array
          items:
            $ref: '#/components/schemas/Subdomain'
    RegionSeries:
      type: object
      required:
      - regionSeriesId
      - createdDate
      properties:
        regionSeriesId:
          type: integer
          format: int32
        code:
          type: string
        name:
          type: string
        description:
          type: string
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        regionSeries2Custodians:
          type: array
          items:
            $ref: '#/components/schemas/RegionSeries2Custodian'
        regions:
          type: array
          items:
            $ref: '#/components/schemas/Region'
    Sector2Agency:
      type: object
      required:
      - id
      - sectorId
      - agencyId
      - createdDate
      properties:
        id:
          type: integer
          format: int64
        sectorId:
          type: integer
          format: int32
        agencyId:
          type: integer
          format: int32
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        agency:
          $ref: '#/components/schemas/CountryOrganization'
        sector:
          $ref: '#/components/schemas/Sector'
    Region:
      type: object
      required:
      - regionId
      - level
      properties:
        regionId:
          type: integer
          format: int32
        m49:
          type: string
        altName:
          type: string
        status:
          type: string
        level:
          type: integer
          format: int32
        description:
          type: string
        parentRegionId:
          type: integer
          format: int32
        collectionId:
          type: integer
          format: int32
        seriesId:
          type: integer
          format: int32
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        cndregionalCode:
          type: string
        organization:
          type: string
        collection:
          $ref: '#/components/schemas/RegionCollection'
        country2Regions:
          type: array
          items:
            $ref: '#/components/schemas/Country2Region'
        inverseParentRegion:
          type: array
          items:
            $ref: '#/components/schemas/Region'
        parentRegion:
          $ref: '#/components/schemas/Region'
        regionNames:
          type: array
          items:
            $ref: '#/components/schemas/RegionName'
        series:
          $ref: '#/components/schemas/RegionSeries'
    Country2Region:
      type: object
      required:
      - id
      - countryId
      - regionId
      - createdDate
      properties:
        id:
          type: integer
          format: int32
        countryId:
          type: integer
          format: int32
        regionId:
          type: integer
          format: int32
        createdBy:
          type: string
        createdDate:
          type: string
          format: date-time
        country:
          $ref: '#/components/schemas/Country'
        region:
          $ref: '#/components/schemas/Region'
x-generator: NSwag v14.0.2.0 (NJsonSchema v11.0.0.0 (Newtonsoft.Json v13.0.0.0))
