openapi: 3.2.0
info:
  title: GeoSight Code List API
  version: v1.0.0
servers:
- url: https://geosight.unicef.org/api/v1
security:
- ApiKey Auth: []
tags:
- name: Code List
paths:
  /code-list/:
    parameters: []
    get:
      operationId: codelist-list
      description: Return list of code list.
      parameters:
      - name: page
        in: query
        description: Page number in pagination
        schema:
          type: integer
          default: 1
      - name: page_size
        in: query
        description: Total records in a page
        schema:
          type: integer
          default: 25
      - name: sort
        in: query
        description: 'Fields to be sorted should be specified as a comma-separated list.e.g: sort=name for asc, -sort=name for desc'
        required: false
        schema:
          type: string
      - name: fields
        in: query
        description: 'Fields to be returned should be specified as a comma-separated list.e.g: fields=__all__ for returning all fields, fields=name,category to return just name and category'
        required: false
        schema:
          type: string
      - name: name__contains
        in: query
        description: Filter data by partial name.
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                required:
                - count
                - results
                type: object
                properties:
                  count:
                    type: integer
                  next:
                    type:
                    - string
                    - 'null'
                    format: uri
                  previous:
                    type:
                    - string
                    - 'null'
                    format: uri
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/CodeList'
      tags:
      - Code List
      summary: Codelist list
      x-summary-source: derived
    post:
      operationId: codelist-create
      description: Create a code list.
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                description: Data that is needed to create/edit codelist.
                type: object
                properties:
                  name:
                    title: Name
                    type: string
                  description:
                    title: Description
                    type: string
                  codes:
                    title: Codes
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          title: Code name
                          type: string
                        description:
                          title: Code description
                          type: string
                        value:
                          title: Code value
                          type: string
      tags:
      - Code List
      requestBody:
        content:
          application/json:
            schema:
              description: Data that is needed to create/edit codelist.
              type: object
              properties:
                name:
                  title: Name
                  type: string
                description:
                  title: Description
                  type: string
                codes:
                  title: Codes
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        title: Code name
                        type: string
                      description:
                        title: Code description
                        type: string
                      value:
                        title: Code value
                        type: string
        required: true
      summary: Codelist create
      x-summary-source: derived
  /code-list/{id}/:
    parameters:
    - name: id
      in: path
      description: A unique integer value identifying this Codelist.
      required: true
      schema:
        type: integer
    get:
      operationId: codelist-detail
      description: Return detailed of code list.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CodeList'
      tags:
      - Code List
      summary: Codelist detail
      x-summary-source: derived
    put:
      operationId: codelist-update
      description: Update detailed of code list.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CodeList'
      tags:
      - Code List
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CodeList'
        required: true
      summary: Codelist update
      x-summary-source: derived
    patch:
      operationId: codelist-patch
      description: Patch detailed of code list.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CodeList'
      tags:
      - Code List
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CodeList'
        required: true
      summary: Codelist patch
      x-summary-source: derived
    delete:
      operationId: codelist-delete
      description: Delete detailed of code list.
      responses:
        '204':
          description: ''
      tags:
      - Code List
      summary: Codelist delete
      x-summary-source: derived
  /code-list/{id}/codes/:
    parameters:
    - name: id
      in: path
      description: A unique integer value identifying this Codelist.
      required: true
      schema:
        type: integer
    post:
      operationId: codelist-code-add
      description: List dashboard groups.
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                description: Data that is needed to create/edit basemap.
                type: object
                properties:
                  name:
                    title: Name
                    type: string
                  description:
                    title: Description
                    type: string
                  value:
                    title: Value
                    type: string
      tags:
      - Code List
      requestBody:
        content:
          application/json:
            schema:
              description: Data that is needed to create/edit basemap.
              type: object
              properties:
                name:
                  title: Name
                  type: string
                description:
                  title: Description
                  type: string
                value:
                  title: Value
                  type: string
        required: true
      summary: Codelist code add
      x-summary-source: derived
  /sdmx/codelists/indicators/{Version}/{Agency}/{IndicatorCodelist}:
    get:
      tags:
      - Code List
      summary: SDMX published indicators codelist for a given Agency
      operationId: Codelist_GetIndicators
      parameters:
      - name: Version
        in: path
        required: true
        description: The version of the codelist (e.g. 1.3). Only 1 decimal digit is allowed
        schema:
          type: number
          format: decimal
      - name: Agency
        in: path
        required: true
        description: The name of the agency used to filter indicators (e.g. UNICEF). This is the agency owner of the indicator. Indicators borrowed by other agencies are not returned by this method
        schema:
          type: string
      - name: IndicatorCodelist
        in: path
        required: true
        description: The name of the SDMX indicator codelist associated to the agency (e.g. CL_UNICEF_INDICATOR)
        schema:
          type: string
      responses:
        '406':
          description: Input version has more than 1 decimal digit
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /sdmx/codelists/domains/{Version}/{Agency}/{Codelist}:
    get:
      tags:
      - Code List
      summary: Support the agency / sector / domain / subdomain as an SDMX category scheme
      operationId: Codelist_GetDomains
      parameters:
      - name: Version
        in: path
        required: true
        description: The version of the category scheme (e.g. 1.3). Only 1 decimal digit is allowed
        schema:
          type: number
          format: decimal
      - name: Agency
        in: path
        required: true
        description: The name of the agency used to filter domains (e.g. UNICEF). This is the agency owner of the indicator. Indicators borrowed by other agencies are not returned by this method
        schema:
          type: string
      - name: Codelist
        in: path
        required: true
        description: The name of the codelist associated to the agency (e.g. CS_UNICEF)
        schema:
          type: string
      responses:
        '406':
          description: Input version has more than 1 decimal digit
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /sdmx/codelists/countries/{version}:
    get:
      tags:
      - Code List
      summary: SDMX Country Codelist (only published countries)
      operationId: Codelist_GetCountries
      parameters:
      - name: version
        in: path
        required: true
        description: A decimal expressing the version of the codelist. e.g. 1.0. Only 1 decimal digit is allowed
        schema:
          type: number
          format: decimal
      responses:
        '406':
          description: Input version has more than 1 decimal digit
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /sdmx/codelists/regions/{version}:
    get:
      tags:
      - Code List
      summary: SDMX Regions Codelist
      operationId: Codelist_GetRegions
      parameters:
      - name: version
        in: path
        required: true
        description: A decimal expressing the version of the codelist. e.g. 1.0. Only 1 decimal digit is allowed
        schema:
          type: number
          format: decimal
      responses:
        '406':
          description: Input version has more than 1 decimal digit
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
components:
  schemas:
    CodeList:
      required:
      - name
      - codes
      type: object
      properties:
        name:
          title: Name
          type: string
        description:
          title: Description
          type: string
        codes:
          title: Codes
          type: array
          items:
            type: object
            properties:
              id:
                title: Code id
                type: number
              name:
                title: Code name
                type: string
              value:
                title: Code value
                type: string
      title: Code
      example:
        name: TEST
        description: Description
        codes:
        - id: 1
          name: testcode
          value: 'yes'
    ProblemDetails:
      type: object
      additionalProperties: {}
      required:
      - extensions
      properties:
        type:
          type: string
        title:
          type: string
        status:
          type: integer
          format: int32
        detail:
          type: string
        instance:
          type: string
        extensions:
          type: object
          additionalProperties: {}
  securitySchemes:
    ApiKey_Auth:
      type: apiKey
      in: header
      name: Authorization
