openapi: 3.2.0
info:
  title: RDM Strategic Plan API
  description: Reference Data Manager API
  termsOfService: None
  contact:
    name: UNICEF
    url: https://data.unicef.org/
    email: data@unicef.org
  version: v2.0
servers:
- url: https://rdmapi.unicef.org
tags:
- name: StrategicPlan
paths:
  /api/strategicplan:
    get:
      tags:
      - StrategicPlan
      summary: Get the list of all strategic plan areas
      operationId: StrategicPlan_GetStrategicPlanGoalAreas
      responses:
        '200':
          description: The list of all of all strategic plan areas related to indicators.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StrategicPlanAreaItem'
  /api/strategicplan/goalarea/{areaID}:
    get:
      tags:
      - StrategicPlan
      summary: Get the a strategic plan goal area by id
      operationId: StrategicPlan_GetStrategicPlanGoalArea
      parameters:
      - name: areaID
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: The strategic plan goal area by id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StrategicPlanAreaItem'
  /api/strategicplan/statements:
    get:
      tags:
      - StrategicPlan
      summary: Get the list of all strategic plan statements
      operationId: StrategicPlan_GetStrategicPlanStatements
      responses:
        '200':
          description: The list of all of all strategic plan statements.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StrategicPlanStatementItem'
  /api/strategicplan/statement/{statementCode}:
    get:
      tags:
      - StrategicPlan
      summary: Get the a strategic plan statement by helix code
      operationId: StrategicPlan_GetStrategicPlanStatement
      parameters:
      - name: statementCode
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The strategic plan statement by helix code.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StrategicPlanStatementItem'
  /api/strategicplan/statement/id/{statementID}:
    get:
      tags:
      - StrategicPlan
      summary: Get the a strategic plan statement by id
      operationId: StrategicPlan_GetStrategicPlanStatement2
      parameters:
      - name: statementID
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: The strategic plan statement by helix code.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StrategicPlanStatementItem'
  /api/strategicplan/statements/area/{SPAreaCode}:
    get:
      tags:
      - StrategicPlan
      summary: Get the list of all strategic plan statements of a strategic plan goal area, by…
      operationId: StrategicPlan_GetStrategicPlanStatementByArea
      parameters:
      - name: SPAreaCode
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The list of all of all strategic plan statements of a strategic plan goal area, by SP goal area Helix Code (GA_1, GA2, etc.).
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StrategicPlanStatementItem'
components:
  schemas:
    StrategicPlanStatementItem:
      type: object
      required:
      - id
      properties:
        id:
          type: integer
          format: int32
        editedBy:
          type: string
        editedDate:
          type: string
        statement:
          type: string
        code:
          type: string
        spArea:
          $ref: '#/components/schemas/StrategicPlanAreaItem'
    StrategicPlanAreaItem:
      type: object
      required:
      - id
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
        editedBy:
          type: string
        editedDate:
          type: string
        description:
          type: string
        code:
          type: string
x-generator: NSwag v14.0.2.0 (NJsonSchema v11.0.0.0 (Newtonsoft.Json v13.0.0.0))
