openapi: 3.2.0
info:
  title: GeoSight Style API
  version: v1.0.0
servers:
- url: https://geosight.unicef.org/api/v1
security:
- ApiKey Auth: []
tags:
- name: Style
paths:
  /styles/:
    parameters: []
    get:
      operationId: style-list
      description: Return list of accessed style for the user.
      parameters:
      - name: page
        in: query
        description: Page number in pagination
        schema:
          type: integer
          default: 1
      - name: page_size
        in: query
        description: Total records in a page
        schema:
          type: integer
          default: 25
      - name: sort
        in: query
        description: 'Fields to be sorted should be specified as a comma-separated list.e.g: sort=name for asc, -sort=name for desc'
        required: false
        schema:
          type: string
      - name: fields
        in: query
        description: 'Fields to be returned should be specified as a comma-separated list.e.g: fields=__all__ for returning all fields, fields=name,category to return just name and category'
        required: false
        schema:
          type: string
      - name: name__contains
        in: query
        description: Filter data by partial name.
        schema:
          type: string
      - name: description__contains
        in: query
        description: Filter data by partial description.
        schema:
          type: string
      - name: category__name__in
        in: query
        description: Filter data by multiple category. Put multiple filter using comma separator.
        schema:
          type: string
      - name: type__in
        in: query
        description: Filter data by multiple type. Put multiple filter using comma separator.
        schema:
          type: string
      - name: project_slug__in
        in: query
        description: Filter data by multiple project slug. Put multiple filter using comma separator.
        schema:
          type: string
      - name: project_id__in
        in: query
        description: Filter data by multiple project id. Put multiple filter using comma separator.
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                required:
                - count
                - results
                type: object
                properties:
                  count:
                    type: integer
                  next:
                    type:
                    - string
                    - 'null'
                    format: uri
                  previous:
                    type:
                    - string
                    - 'null'
                    format: uri
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/Style'
      tags:
      - Style
      summary: Style list
      x-summary-source: derived
    post:
      operationId: style-create
      description: Create a style.
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Style'
      tags:
      - Style
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Style'
        required: true
      summary: Style create
      x-summary-source: derived
  /styles/{id}/:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: style-detail
      description: Return detailed of style.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Style'
      tags:
      - Style
      summary: Style detail
      x-summary-source: derived
    put:
      operationId: style-detail-update
      description: Replace a detailed of style.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Style'
      tags:
      - Style
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Style'
        required: true
      summary: Style detail update
      x-summary-source: derived
    patch:
      operationId: style-detail-partial-update
      description: Update just partial data based on payload a detailed of style.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Style'
      tags:
      - Style
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Style'
        required: true
      summary: Style detail partial update
      x-summary-source: derived
    delete:
      operationId: style-detail-delete
      description: Delete a style.
      responses:
        '204':
          description: ''
      tags:
      - Style
      summary: Style detail delete
      x-summary-source: derived
components:
  schemas:
    Style:
      required:
      - name
      type: object
      properties:
        id:
          title: ID
          type: integer
          readOnly: true
        modified_at:
          title: Modified at
          type: string
          readOnly: true
        created_at:
          title: Created at
          type: string
          readOnly: true
        category:
          title: Category
          type: string
          readOnly: true
        description:
          title: Description
          type:
          - string
          - 'null'
        name:
          title: Name
          type: string
          maxLength: 512
          minLength: 1
        style_type:
          title: Style type
          type: string
          enum:
          - Predefined style/color rules.
          - Dynamic quantitative style.
          - Dynamic qualitative style.
  securitySchemes:
    ApiKey_Auth:
      type: apiKey
      in: header
      name: Authorization
