openapi: 3.2.0
info:
  title: GeoSight Related table API
  version: v1.0.0
servers:
- url: https://geosight.unicef.org/api/v1
security:
- ApiKey Auth: []
tags:
- name: Related table
paths:
  /related-tables/:
    parameters: []
    get:
      operationId: related-table-list
      description: Return list of accessible related tables for the user.
      parameters:
      - name: page
        in: query
        description: A page number within the paginated result set.
        required: false
        schema:
          type: integer
      - name: page_size
        in: query
        description: Number of results to return per page.
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: Resource fetching successful.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RelatedTableApi'
      tags:
      - Related table
      summary: Related table list
      x-summary-source: derived
    post:
      operationId: related-table-create
      description: Create a related table.
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                description: Data needed to create/edit related tables.
                type: object
                properties:
                  id:
                    title: Id
                    type: integer
                    readOnly: true
                  name:
                    title: Name
                    type: string
                    readOnly: false
                  fields_definition:
                    title: Fields definition
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          title: Field name
                          type: string
                          readOnly: false
                        label:
                          title: Field label
                          type: string
                          readOnly: false
                        type:
                          title: Field type
                          type: string
                          pattern: date | number | string
                  description:
                    title: Description
                    type: string
                    readOnly: false
                  url:
                    title: Url
                    type: string
                    readOnly: true
                  creator:
                    title: Creator
                    type: string
                    readOnly: true
                  created_at:
                    title: Created at
                    type: string
                    readOnly: true
                  modified_at:
                    title: Created at
                    type: string
                    readOnly: true
      tags:
      - Related table
      requestBody:
        content:
          application/json:
            schema:
              description: Data needed to create/edit related tables.
              type: object
              properties:
                id:
                  title: Id
                  type: integer
                  readOnly: true
                name:
                  title: Name
                  type: string
                  readOnly: false
                fields_definition:
                  title: Fields definition
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        title: Field name
                        type: string
                        readOnly: false
                      label:
                        title: Field label
                        type: string
                        readOnly: false
                      type:
                        title: Field type
                        type: string
                        pattern: date | number | string
                description:
                  title: Description
                  type: string
                  readOnly: false
                url:
                  title: Url
                  type: string
                  readOnly: true
                creator:
                  title: Creator
                  type: string
                  readOnly: true
                created_at:
                  title: Created at
                  type: string
                  readOnly: true
                modified_at:
                  title: Created at
                  type: string
                  readOnly: true
        required: true
      summary: Related table create
      x-summary-source: derived
  /related-tables/{id}/:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: related-table-detail
      description: Return detail of a related tables for the user.
      responses:
        '200':
          description: Resource fetching successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RelatedTableApi'
      tags:
      - Related table
      summary: Related table detail
      x-summary-source: derived
    put:
      operationId: related-table-update
      description: Update a related table.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                description: Data needed to create/edit related tables.
                type: object
                properties:
                  id:
                    title: Id
                    type: integer
                    readOnly: true
                  name:
                    title: Name
                    type: string
                    readOnly: false
                  fields_definition:
                    title: Fields definition
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          title: Field name
                          type: string
                          readOnly: false
                        label:
                          title: Field label
                          type: string
                          readOnly: false
                        type:
                          title: Field type
                          type: string
                          pattern: date | number | string
                  description:
                    title: Description
                    type: string
                    readOnly: false
                  url:
                    title: Url
                    type: string
                    readOnly: true
                  creator:
                    title: Creator
                    type: string
                    readOnly: true
                  created_at:
                    title: Created at
                    type: string
                    readOnly: true
                  modified_at:
                    title: Created at
                    type: string
                    readOnly: true
      tags:
      - Related table
      requestBody:
        content:
          application/json:
            schema:
              description: Data needed to create/edit related tables.
              type: object
              properties:
                id:
                  title: Id
                  type: integer
                  readOnly: true
                name:
                  title: Name
                  type: string
                  readOnly: false
                fields_definition:
                  title: Fields definition
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        title: Field name
                        type: string
                        readOnly: false
                      label:
                        title: Field label
                        type: string
                        readOnly: false
                      type:
                        title: Field type
                        type: string
                        pattern: date | number | string
                description:
                  title: Description
                  type: string
                  readOnly: false
                url:
                  title: Url
                  type: string
                  readOnly: true
                creator:
                  title: Creator
                  type: string
                  readOnly: true
                created_at:
                  title: Created at
                  type: string
                  readOnly: true
                modified_at:
                  title: Created at
                  type: string
                  readOnly: true
        required: true
      summary: Related table update
      x-summary-source: derived
    patch:
      operationId: related-table-partial-update
      description: Update an existing related table.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RelatedTableApi'
      tags:
      - Related table
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RelatedTableApi'
        required: true
      summary: Related table partial update
      x-summary-source: derived
    delete:
      operationId: related-table-delete
      description: Delete a related table.
      responses:
        '204':
          description: ''
      tags:
      - Related table
      summary: Related table delete
      x-summary-source: derived
components:
  schemas:
    RelatedTableApi:
      required:
      - name
      - fields_definition
      type: object
      properties:
        id:
          title: Id
          type: integer
          readOnly: true
        name:
          title: Name
          type: string
          readOnly: false
        fields_definition:
          title: Fields definition
          type: array
          items:
            type: object
            properties:
              name:
                title: Field name
                type: string
                readOnly: false
              label:
                title: Field label
                type: string
                readOnly: false
              type:
                title: Field type
                type: string
                pattern: date | number | string
        description:
          title: Description
          type: string
          readOnly: false
        url:
          title: Url
          type: string
          readOnly: true
        creator:
          title: Creator
          type: string
          readOnly: true
        created_at:
          title: Created at
          type: string
          readOnly: true
        modified_at:
          title: Created at
          type: string
          readOnly: true
      title: RelatedTable
      example:
        id: 1
        name: My related table
        fields_definition:
        - name: field_1
          label: Field 1
          type: string
        - name: field_2
          label: Field 2
          type: date
        - name: field_3
          label: Field 3
          type: number
        description: A related table for testing apidocs
        url: https://a.tile.openstreetmap.org/{z}/{x}/{y}.png
        creator: Admin
        created_at: '2023-01-01T00:00:00.00000Z'
        modified_at: '2023-01-01T00:00:00.00000Z'
  securitySchemes:
    ApiKey_Auth:
      type: apiKey
      in: header
      name: Authorization
